[2020-08-04 19:32] abuiles opened #2882 "Update state verifier with CAP23 claimable_balances"
Depends on #2881

[2020-08-04 22:06] abuiles opened #2883 "Add sponsorship related columns to state tables."
- [x] `accounts`
- [x] `accounts_data`
- [x] `accounts_signers`
- [x] `trust_lines`
- [x] `offers`
- [x] `claimable_balances`

- [x] Add columns `num_sponsored` and `num_sponsoring` to accounts.

[2020-08-04 22:41] abuiles opened #2885 "Update ingestion effects processor to process claimable_balance related effects"
Start on `EffectType = 50`

[2020-08-04 22:42] abuiles opened #2886 "Update ingestion operation processor to ingest claimable balance related operations"
- [x] Ingest `CreateClaimableBalanceOp`.
    - [x] Update Details in `transactionOperationWrapper`
    - [x] Update Participants in `transactionOperationWrapper`
- [x] Ingest `ClaimClaimableBalanceOp`.
   - [x] Update Details in `transactionOperationWrapper`
    - [x] Update Participants in `transactionOperationWrapper`

[2020-08-04 22:42] abuiles opened #2887 "Update state processors to support claimable balances"
We need to create a new state processors to create or remove claimable balances.

This is a new ledger entry called `ClaimableBalanceEntry`

[2020-08-04 22:45] abuiles commented on #2859
Closing this since I decomposed it into smaller tasks  which we are tracking now in #2787

[2020-08-04 22:45] #2859 closed

[2020-08-04 22:50] abuiles opened #2888 "Update state verifier with CAP0033 sponsorships related data"

[2020-08-04 22:56] abuiles opened #2889 "Update state related processors to store sponsorship data."
While ingesting state data we should look at the `LedgerEntryExtensionV1` and update the sponsor column if the entry is being sponsored.

Also, while ingesting `AccountEntry` we should look at `AccountEntryExtensionV2` and update `num_sponsored`, `num_sponsoring` and the sponsors for each of the signers.

[2020-08-04 22:58] abuiles opened #2890 "Update ingestion operations processor to ingest sponsorship related operations."
We need to ingest the following new operations:

- [x] `BEGIN_SPONSORING_FUTURE_RESERVES = 14`
    - [x] Update `Details()` in `transactionOperationWrapper`
    - [x] Update `Participants()` in `transactionOperationWrapper`
- [x] `END_SPONSORING_FUTURE_SPONSOR` = 15`
    - [x] Update `Details()` in `transactionOperationWrapper`
    - [x] Update `Participants()` in `transactionOperationWrapper`
- [

[2020-08-04 22:59] abuiles opened #2891 "Update ingestion effects processor to ingest sponsoring related effects"
We need to update the effects processor to ingest the following effects:

- [ ] `sponsorship_created`: This appears when a new ledger entry is created and it has a sponsor. The effect will be associated with the operation creating the ledger entry. **Not all ledger entries have a created, removed, and update effect (e.g., offers) - we’ll add the accompanying sponsorship created effect only on the

[2020-08-04 23:02] abuiles commented on #2861
Closing this since this is decomposed into smaller tickets which we can track in #2788

[2020-08-04 23:02] #2861 closed

[2020-08-05 14:14] tamirms commented on #1808
I attempted the problematic payments request on the staging db which was created recently and has been fully ingested. unfortunately, the request still times out on staging. So at this point we should check whether postgres 11 would improve the query. If that doesn't work then we can consider schema changes

[2020-08-05 15:07] 2opremio opened #2892 "Races in horizon-cmp"
When running `./horizon-cmp -t https://horizon-stg-pubnet.stellar.org -b https://horizon.stellar.org -a ~/Downloads/746476062914_elasticloadbalancing_us-east-1_stellar002-prd-horizon_20200801T0000Z_54.165.131.118_188lnjbs.log`

Using commit 564650ac7b55bbf922692cd361bd8626d138890e

[code]

[2020-08-05 16:12] bartekn commented on #632
We had to revert the Bounded Range solution in: https://github.com/stellar/go/pull/2893. It doesn't work for markets with some buckets missing for a given time range and limit (more in the revert PR description).

Again, we should probably implement precomputed buckets idea. This issue should not occur in this solution.

[2020-08-05 20:20] ire-and-curses commented on #632
Damn, that's disappointing. Since the issue is now not even partially resolved, lets prioritise this now then. Moved to top of backlog.

[2020-08-06 00:32] abuiles commented on #2883
Fixed in https://github.com/stellar/go/pull/2884

[2020-08-06 00:32] #2883 closed

[2020-08-06 00:33] abuiles commented on #2881
Fixed in https://github.com/stellar/go/pull/2884

[2020-08-06 00:33] #2881 closed

[2020-08-07 14:40] 2opremio opened #2901 "Stabalize ordering of assets in /trades endpoint"
The asset ordering in the `/trades` endpoint is not deterministic. See, for example how responses are different for the same request ( `/trades?cursor=133053547049738241-0&limit=10&order=asc` ) in [https://horizon.stellar.org/](https://github.com/stellar/go/files/5041992/prod.txt) vs [https://horizon-stg-pubnet.stellar.org/](https://github.com/stellar/go/files/5042001/stg.txt).

The ordering shoul

[2020-08-08 03:06] arduent opened #2906 "buildling instructions don't work, xff.Handler does not exist."
### What version are you using?
current

[code]

[code]

### What did you do?
[code]

I think it's supposed to be "go get" not "go install" maybe the build instructions are wrong.

[code]

[code]

### What did you expect to see?

no errors

### What did you see instead?

[code]

in the file github.com/stellar/go/services/horizon/internal/httpx/router.go (line 77)

Changing:

[code]

to :

[code]

[2020-08-10 12:29] bartekn commented on #2906
Thanks for the report. Looks like we haven't updated the guide after migrating to go modules. You need to set `GO111MODULE=on` env variable. Then after running `go get -v github.com/stellar/go/services/horizon` you'll find `horizon` binary in your `$GOPATH/bin/horizon`. To add code changes, just `git clone` the repo.

[2020-08-10 23:00] abuiles commented on #2887
Done in https://github.com/stellar/go/pull/2898

[2020-08-10 23:00] #2887 closed

[2020-08-11 11:06] bartekn commented on #2628
This should be fixed in Horizon 1.7.0 (will be deployed to horizon.stellar.org on Wednesday). Please reopen if there's still something wrong with the transaction submission.

[2020-08-11 11:06] #2628 closed

[2020-08-11 11:36] #2889 closed

[2020-08-11 13:53] bartekn commented on #2851
I think a good time to work on this is after this sprint when protocol 14 (that's changing a lot in ingestion package) is done. Moving to the top of the Backlog.

[2020-08-11 23:17] abuiles opened #2912 "Implement `historyQ.UpdateClaimableBalance`"
Now that we have state processing for sponsorship related changes we can implement `UpdateClaimableBalance` in `ClaimableBalancesProcessor`

[2020-08-12 10:10] bartekn opened #2913 "`horizon_db_wait_duration_seconds_total` is in milliseconds not seconds"
### What version are you using?

1.7.0

### What did you do?

Check `/metrics`.

### What did you expect to see?

`horizon_db_wait_duration_seconds_total` values are in seconds.

### What did you see instead?

`horizon_db_wait_duration_seconds_total` values are in milliseconds.

We should probably change the metric's name to `horizon_db_wait_duration_milliseconds_total` to follow Prometheus conven

[2020-08-12 19:44] bartekn commented on #2628
@bantalon unfortunately there's a delay deploying this version to production (we are doing some maintenance tasks connected to this deployment). Please observe `horizon_version` on https://horizon.stellar.org/ to check if it's on 1.7.0 already. Hopefully, it will be deployed by the end of this week.

[2020-08-12 21:33] abuiles opened #2915 "Define how to expose/save balance_id in details and effetcs"
See this comment https://github.com/stellar/go/pull/2911#discussion_r469352048

[2020-08-13 17:55] abuiles commented on #2886
Fixed in #2911

[2020-08-13 17:55] #2886 closed

[2020-08-13 22:55] abuiles commented on #2912
Fixed in #2919

[2020-08-13 22:55] #2912 closed

[2020-08-13 23:01] abuiles commented on #2885
Fixed on #2914

[2020-08-13 23:01] #2885 closed

[2020-08-17 15:09] bartekn commented on #620
Added one more metric here: https://github.com/stellar/go/pull/2921. Closing this, let's open a separate issue for each metric when it's really needed.

[2020-08-17 15:09] #620 closed

[2020-08-18 09:04] charlie-wasp opened #2926 "Captive core backend can't get a ledger on unbounded range"
### What version are you using?

github.com/stellar/go v0.0.0-20200804130752-fdc4eca4f6ce

### What did you do?

I'm trying to run captive core backend on the unbound range, but I've got the same `unexpected ledger` error every time. Actual ledger sequence is always higher than the one I requested.

Here's a simplified version of code I'm running:

[code]

### What did you expect to see?

I expect

[2020-08-18 09:45] bartekn commented on #2926
Are you using Stellar-Core 13.2.0+? What is your `stellar-core.cfg` file context (minus secrets)?

[2020-08-18 10:07] charlie-wasp commented on #2926
@bartekn I got stellar-core 13.2.0 (on macOS, if it's relevant)

Here's my config file content:

[code]

[2020-08-18 13:17] bartekn commented on #2398
This is complete. Production DB contains all transactions now (including failed).

[2020-08-18 13:17] #2398 closed

[2020-08-18 16:19] abuiles commented on #2882
fixed in #2923

[2020-08-18 16:19] #2882 closed

[2020-08-18 17:57] ire-and-curses commented on #2906
Next step: update docs.

[2020-08-19 08:06] #2841 closed

[2020-08-19 16:57] abuiles opened #2932 "Implement custom MarshalJSON and UnmarshalJSON for xdr.ClaimPredicate"
### What problem does your feature solve?

We are storing `xdr.ClaimPredicate` in the DB as the `base64` encoded value of the XDR which is fine and it helps us to verify state, we'll need a different representation for `xdr.ClaimPredicate` when rendering via the web api.

### What would you like to see?

Given a `xdr.ClaimPredicate` we should be able to Marshal it to JSON using the following repre

[2020-08-20 01:46] abuiles opened #2934 "Invalid implementation of state verifier for claimable balances"
I got the following error running locally

[code]

[2020-08-20 02:04] abuiles commented on #2932
@tamirms we also need to update the predicate value in the operation details processor and effects processor.

[2020-08-20 05:29] ayeowch commented on #2039
Bump. Looks like http://bitbucket.org/ww/goautoneg got removed today.

[2020-08-20 09:56] bartekn commented on #2812
The simple integration tests framework was added in https://github.com/stellar/go/pull/2916. However, we will change the engine to use `stellar/horizon` instead of `stellar/quickstart`. This will make this more flexible. Moving to backlog.

[2020-08-20 10:05] bartekn commented on #2934
Maybe it's because of the sponsors extension?

[2020-08-21 00:41] abuiles opened #2939 "Add integration tests for Protocol 14"
Using the new integration tests infrastructure, we should add tests for

- GET `/claimable_balances`.
- GET `/claimable_balances/id`.
- GET `/claimable_balances` filtering by `sponsor`, `claimant`, and `asset`.

See #2916

[2020-08-21 01:20] abuiles commented on #2934
@bartekn confirmed -- it's because of the account v2 extensions --we need to do something along the following lines

[code]

[2020-08-21 13:49] abuiles opened #2940 "Extend operations resource adapter to show CAP23 operations."
The operations resource adapter should be able to render CAP23 related operations.

[2020-08-21 13:51] abuiles opened #2941 "Extend operations resource adapter to show CAP33 operations."
The operations resource adapter should be able to render CAP33 related operations.

Depends on https://github.com/stellar/go/issues/2890 and https://github.com/stellar/go/issues/2891

[2020-08-21 13:52] abuiles opened #2942 "Extend effects resource adapter to show CAP33 effects"
Depends on https://github.com/stellar/go/issues/2891

[2020-08-21 13:52] abuiles opened #2943 "Extend effects resource adapter to show CAP23 effects"

[2020-08-21 15:15] abuiles opened #2944 "Add `type CanonicalAssetString` and ``type AccountString` with helper to construct xdr.Asset and xdr.AccountID"
We have multiple places were we need to take a string and convert it to an `xdr.Asset` or `xdr.AccountID` - let's implement a couple of new types that will allow us to reuse the same code in different places

See the comment here https://github.com/stellar/go/pull/2928/files#r474729773 and here https://github.com/stellar/go/pull/2928/files#r474732974 for more context.

`CanonicalAssetString` shoul

[2020-08-25 14:53] Medasx opened #2949 "Invalid import "bitbucket.org/ww/goautoneg""
https://github.com/stellar/go/blob/69e628cf1cef67bbea02abc2e53ad3cddb60e4e8/services/horizon/internal/render/main.go#L6

Repo is using using mercurial which is no longer supported on Bitbucket. [More in blog post.](https://bitbucket.org/blog/sunsetting-mercurial-support-in-bitbucket)

Therefore ` go get github.com/stellar/go` returns error below
[code]

[2020-08-25 15:04] ire-and-curses commented on #2949
Yeah we need to fix this ASAP. Duplicate of #2039

[2020-08-25 15:04] #2949 closed

[2020-08-25 15:27] #2913 closed

[2020-08-25 16:04] howardtw opened #2950 "horizenclient: propagate client provided context"
In Go 1.13, a new [function](https://golang.org/pkg/net/http/#NewRequestWithContext) `NewRequestWithContext` was introduced. It will be useful if the horizonclient can take a client-provided context and respect the context by using it to create a http request in [sendRequestURL](https://github.com/stellar/go/blob/787570f2f3dc6114baf5c96e5125a584319579e4/clients/horizonclient/client.go#L104).

This

[2020-08-25 16:45] #2890 closed

[2020-08-26 18:37] bartekn opened #2957 "Data race in services/horizon/internal/httpx.(*Server).Shutdown"
### What version are you using?

1.8.0 RC but looks like it can be an issue introduced in 1.7.0.

### What did you do?

Shutdown Horizon compiled with `-race`

### What did you expect to see?

No data races.

### What did you see instead?

[code]

[2020-08-26 18:39] bartekn commented on #2957
@2opremio do you want to take a look?

[2020-08-26 18:44] Shaptic commented on #2039
Fixed in #2952.

[2020-08-26 18:44] #2039 closed

[2020-08-26 19:05] 2opremio commented on #2957
Sure

On Wed, Aug 26, 2020, 20:39 Bartek Nowotarski <notifications@github.com>
wrote:

[2020-08-26 19:11] 2opremio commented on #2957
@bartekn how did this happen? Did Horizon error on start? Did you quickly Control-C'ed?

Otherwise I don't see how shutdown can be called before the initialization happens.

[2020-08-26 19:15] bartekn commented on #2957
It was Control-C after a few minutes.

[2020-08-26 19:38] 2opremio commented on #2957
Huh, that's odd

[2020-08-27 16:24] howardtw opened #2959 "Feature Request: return auth method type in the response"
### What problem does your feature solve?

It helps the clients get to know which auth method they used to authenticate with the recovery signer without leaking PII.

### What would you like to see?

A response like this:
[code]

### What alternatives are there?

N/A

[2020-08-27 17:29] bartekn opened #2960 "ERROR log entry in order book stream during shutdown"
### What version are you using?

Horizon 1.8.0 RC

### What did you do?

Shutdown Horizon.

### What did you expect to see?

No `level="error"` log entries emitted by cancelled contexts during shutdown.

### What did you see instead?

[code]

[2020-08-27 17:30] bartekn commented on #2960
@tamirms can you take a look? If it's too complicated to fix before tomorrow please move it to 1.9.0 milestone.

[2020-08-28 14:47] #2957 closed

[2020-08-28 14:47] #2960 closed

[2020-08-28 15:26] bartekn opened #2965 "Create a README file for exp/services/captivecore"
We need a short README file with config options so that users know to use it.

[2020-08-28 21:15] JakeUrban opened #2968 "SEP-10 Manage Data Op Changes"
The following [changes](https://github.com/stellar/stellar-protocol/commit/28c636b4ef5074ca0c3d46bbe9bf0f3f38095233#diff-72480d0894ae2d1a31c229b64ad4c37b) were recently merged to [SEP-10](https://github.com/stellar/stellar-protocol/blob/master/ecosystem/sep-0010.md):

(edited to remove the ones SDK's don't need to worry about)

- [x] the Manage Data operation's key includes a `homeDomain` [FQDN](h

[2020-08-29 16:01] guru-god opened #2969 "Federation server install/configure on linux server"
### What problem does your feature solve?
My environment is as following : Linux (Centos), MySQL
I downloaded latest release of horizon and tried to upload cfg file as config and set dsn as mysql.
After all done of above, I run ./horizon, but it gives me error this :

2020/08/29 15:56:33 Invalid config: db-url is blank. Please specify --db-url on the command line or set the DATABASE_URL environmen

[2020-08-29 17:27] guru-god opened #2970 "a"
### What version are you using?

### What did you do?

### What did you expect to see?

### What did you see instead?

[2020-08-29 17:27] #2970 closed

[2020-08-31 13:52] ire-and-curses commented on #2969
You mention federation server, but you are running Horizon. Which do you mean?

Horizon needs to know where you database is located. Please read https://github.com/stellar/go/blob/master/services/horizon/internal/docs/admin.md#configuring.

[2020-08-31 13:52] #2969 closed

[2020-08-31 14:50] guru-god commented on #2969
@ire-and-curses Firstly, I downloaded https://github.com/stellar/go/tree/master/services/federation and I tried to build.
But I got errors.
`main.go:7:2: cannot find package "github.com/go-chi/chi" in any of:
        /usr/lib/golang/src/github.com/go-chi/chi (from $GOROOT)
        /root/go/src/github.com/go-chi/chi (from $GOPATH)
main.go:8:2: cannot find package "github.com/spf13/cobra" in any of:

[2020-08-31 15:18] guru-god commented on #2969
@ire-and-curses
I uploaded federation.cfg file to the GO_PATH/bin because I could find federation file there.
the cfg file was following toml syntax and it was like this

[code]
But after I run `./federation`, I got this error.

`ERRO[2020-08-31T15:09:05.670Z] config file: invalid fields: Type`

Could you tell me what is wrong in my config file?
Thanks

[2020-08-31 15:23] ire-and-curses commented on #2969
Please read: https://github.com/stellar/go/tree/master/services/federation#config

MySQL is not supported.

[2020-08-31 15:24] guru-god commented on #2969
Does it support only pgsql?

[2020-08-31 17:02] #2965 closed

[2020-08-31 17:07] bartekn opened #2973 "Ignore --stellar-core-binary-path when --enable-captive-core not set"
_Originally posted by @2opremio in https://github.com/stellar/go/pull/2821#issuecomment-680250393_

Unfortunately, this PR broke the horizon docker image, which legitimately sets the core binary path beforehand, before knowing whether you want to run captive core or not:

https://github.com/stellar/go/blob/188c373a1924b97482b12384673ea94d07a3d9a6/services/horizon/docker/Dockerfile#L12

(As of now,

[2020-08-31 21:39] #2888 closed

[2020-09-01 09:29] tamirms opened #2975 "Add retries when creating a state reader in the dump ledger script"
There is a rare race condition where the latest history archive snapshot is not fully published in S3 / cloudflare. In that case, we are able to obtain the latest sequence number but the requests to obtain the bucket list may fail. When that happens the dump ledger script fails here

https://github.com/stellar/go/blob/master/exp/tools/dump-ledger-state/main.go#L233-L235

with an error which looks

[2020-09-01 10:30] bartekn commented on #2975
According to https://github.com/stellar/stellar-core/blob/master/docs/history.md this shouldn't happen:

I started checking [S3 consistency model](https://docs.aws.amazon.com/AmazonS3/latest/dev/Introduction.html) and found this:

So I think the issue we experienced should not happen until someone made HEAD/GET request to https://history.stellar.org/prd/core-live/core_live_001/history/01/de/f5/his

[2020-09-01 15:03] bartekn commented on #2934
Fixed in #2945.

[2020-09-01 15:03] #2934 closed

[2020-09-01 15:03] bartekn commented on #2932
Fixed in #2947.

[2020-09-01 15:03] #2932 closed

[2020-09-01 15:42] bartekn commented on #2939
Here are proposed scenarios for CAP-23, CAP-33 and a mix of CAP-23 and CAP-33:

CAP-23:

1. Submit `create_claimable_balance` with different predicates:
    1. Two successful: native and non-native asset.
    1. One with a predicate that will fail later when calling `claim_claimable_balance`.
1. Check `/claimable_balances` (filter by claimant, asset).
1. Check `/claimable_balances/{id}`.
1. Submit

[2020-09-02 09:12] xvzhu commented on #64
But it's not safety to save unenrcrypted private key on disk.  Any other way? @alwayscodemonkey

[2020-09-02 19:37] howardtw commented on #2959
Closing because the feature request has been dropped by the frontend team.

[2020-09-02 19:37] #2959 closed

[2020-09-03 15:01] bartekn commented on #2891
Closed in https://github.com/stellar/go/pull/2951.

[2020-09-03 15:01] #2891 closed

[2020-09-03 15:58] bartekn opened #2977 "xdr: AndPredicate set when Or is not nil"
The code here sets invalid value of resulting XDR type (like 65):
https://github.com/stellar/go/blob/84461c4231cbbbdb2dddf3b2695653093bda8554/xdr/json.go#L60-L66

Add test catching this bug.

[2020-09-03 16:52] #2977 closed

[2020-09-03 16:59] bartekn opened #2979 "Update API Reference with Protocol 14 updates"
* https://developers.stellar.org/api
* https://gist.github.com/bartekn/e8ee1224688d389dcab412ce2149f192

[2020-09-03 17:05] tamirms commented on #2939
We should add a CAP 33 test which covers the case where a sponsorship can be removed during one-time signer removal.

To trigger a one-time signer removal you need to prepare an account with a pre-auth signer (let’s say for the transaction with hash H) that is sponsored.

Once transaction H is prepared, submit it.

Afterwards, the pre-auth signer with corresponding sponsorship should be removed.

[2020-09-09 10:02] bartekn commented on #2941
Closed in #2980.

[2020-09-09 10:02] #2941 closed

[2020-09-09 10:02] bartekn commented on #2940
Closed in #2980.

[2020-09-09 10:02] #2940 closed

[2020-09-09 11:34] 2opremio commented on #2942
This was fixed in #2951

[2020-09-09 11:37] 2opremio commented on #2943
This was fixed in #2951

I probably should had done it in a separate PR, but I thought that it was an oversight not to show the CAP23.

[2020-09-09 12:05] bartekn opened #2982 "nil pointer dereference in EndSponsoringFutureReserves when BeginSponsoringFutureReserves.SourceAccount = nil"
### What version are you using?

`protocol-14` branch.

### What did you do?

Submit a simple Begin/End Sponsorship transaction:
[code]

### What did you expect to see?

No errors, transaction correctly ingested.

### What did you see instead?

[code]

Please add a new unit test to catch this.

[2020-09-09 16:22] bartekn opened #2987 "Ingestion fails on a transaction with a single EndSponsoringFutureReserves operation"
### What version are you using?

`protocol-14` branch.

### What did you do?

Submit a single EndSponsoringFutureReserves (it will fail but will be included in a ledger):
[code]

### What did you expect to see?

No errors, operation ingested.

### What did you see instead?

[code]

Remember that this makes `begin_sponsor` nullable and it needs to be changed in `protocols/horizon` and `services/hor

[2020-09-09 16:50] bartekn opened #2988 "Add /claimable_balances to root resource"

[2020-09-09 17:25] 2opremio commented on #2987
But ... isn't this a badly-formed transaction? What do we do in other situations like this?

[2020-09-09 17:32] bartekn commented on #2987
@2opremio it's a good point. I think it's due to the fact that Stellar-Core doesn't check validity of entire transaction, it's check per operation only. Anyway, if Stellar-Core accepts such transaction we need to ingest it. Unless, this changes in Stellar-Core: @jonjove want to check it out?

[2020-09-09 17:41] jonjove commented on #2987
@bartek is correct, stellar-core isn't validating transactions beyond the per-operation level. At some protocol meeting, we discussed whether stellar-core should reject bad pairings of begin/end sponsoring. The general consensus was that we didn't really need to do this, so we elected not to.

[2020-09-09 17:55] abuiles commented on #2987
@2opremio for effects we skip ingesting

https://github.com/stellar/go/blob/f691bc858bd9b85d4958bba0154af149b3b87529/services/horizon/internal/expingest/processors/effects_processor.go#L110-L114

However, we don't do this for operation details. I think we'll need to add some special handling around the following lines

https://github.com/stellar/go/blob/f691bc858bd9b85d4958bba0154af149b3b87529/ser

[2020-09-09 18:08] 2opremio commented on #2987
I think we should still error. But use a special error which indicates it can be skipped if needed.

[2020-09-09 18:12] abuiles commented on #2987
@2opremio

Why?  The behavior today is that if a tx fails -- we still show the operations in the envelope.

If you send a `EndSponsoring` without a `Begin` you should still see it in the operations related with your TX but you'll only see `EndSponsoring` which is okay since the TX result was not successful.

[2020-09-09 18:20] 2opremio commented on #2987
Because otherwise we won't know there is a problem with the transaction. But maybe we don't care about that?

That's what I understood from your review comment at https://github.com/stellar/go/pull/2917#discussion_r473031893 , but maybe in hindsight you think we shouldn't error?

[2020-09-09 19:00] bartekn commented on #2987
I think we don't care about this. Someone can very easily send a bunch of transactions like this in many ledgers and it will generate a bunch of errors.

[2020-09-09 19:18] abuiles commented on #2987
@2opremio

I wrongly assumed stellar-core wouldn't include this tx in the ledger if it was invalid -- which is not the case.

If the transaction is successful and there is no `BeginSponsoringOp` then there is something  wrong, but if the tx failed, that's fine.

[2020-09-09 19:24] 2opremio commented on #2987
Alright. Will fix!

[2020-09-09 19:31] bartekn opened #2989 "Invalid begin_sponsor when multiple sponsoring sandwiches in a transaction"
### What version are you using?

`protocol-14` branch.

### What did you do?

Submit a transaction with multiple sponsorships:
[code]

### What did you expect to see?

`begin_sponsor` fields on both `EndSponsoringFutureReserves` operations are the same.

### What did you see instead?

`begin_sponsor` fields should be different (point to actual sponsor).

I think we need to check IDs here instead o

[2020-09-09 19:38] 2opremio commented on #2989
Good catch!!

[2020-09-09 19:39] #2982 closed

[2020-09-09 19:43] bartekn commented on #2943
Can you confirm it's done and if not reopen it?

[2020-09-09 22:24] Shaptic commented on #2939
Tests for scenarios 1-4 under the CAP23 section above are implemented in the #2991 (draft) PR.

[2020-09-10 01:14] Shaptic commented on #2513
After the [protocol-14](https://github.com/stellar/go/tree/protocol-14) branch is merged, this will be **almost** doable via the `xdr.BuildAssets` helper:

[code]

However, the above `assetFromXDR()` function is [currently hidden](https://github.com/stellar/go/blob/protocol-14/txnbuild/asset.go#L103). Alternatively, we could also add something new like `txnbuild.AssetFromString()` that does the ab

[2020-09-10 15:18] bartekn commented on #2987
Fixed by #2990 and #2993.

[2020-09-10 15:18] #2987 closed

[2020-09-10 16:11] bartekn commented on #2939
I can add State Verifier test.

[2020-09-10 22:55] howardtw opened #2997 "clients/stellartoml: update stellartoml client"
### What problem does your feature solve?

The stellartoml client seems pretty outdated. It can only parse the values of four [fields](https://github.com/stellar/go/blob/2128f639761fc03c3ef713c69726bd602a51c118/clients/stellartoml/main.go#L38-L43), and `ENCRYPTION_KEY` has even been removed from SEP-1.

### What would you like to see?

stellartoml should be able to parse the all [general informati

[2020-09-11 16:44] #2862 closed

[2020-09-11 21:28] abuiles commented on #2942
@2opremio #2951 didn't fix this issue. This issue is about extending protocol and resource adapter to show the effects details in the JSON response.

It requires adding a struct similar to https://github.com/stellar/go/blob/protocol-14/protocols/horizon/effects/main.go#L230 and then in resourceadapters/effects.go building the correct JSON response.

[2020-09-11 21:44] bartekn commented on #2988
Fixed it in https://github.com/stellar/go/pull/2998 because it was breaking staticcheck. See https://github.com/stellar/go/pull/2998#issuecomment-691321384.

[2020-09-11 22:45] abuiles opened #3000 "How to build Claimable Balance Predicate on txbuild?"
We should offer some high level helpers in `txnbuild` to make it easy for people to create claimable balances predicates.

Following the spirit of `txnbuild` users, final users should need access to the XDR library.

We could have some helpers like:

[code]

[2020-09-11 22:59] abuiles opened #3001 "How to build RevokeSponsorshipOp on txbuild?"
`RevokeSponsorshipOp` requires users to build a `LedgerKey` or a struct for signers sponsorships. We need to expose a helper or helpers to make it easy for users to create such operation.

A possible approach could be to add functions for each ledger key. For example:

[code]

[2020-09-14 13:39] #2989 closed

[2020-09-14 13:39] 2opremio commented on #2989
I had to close it manually, why aren't closing annotations working?

[2020-09-14 13:40] 2opremio commented on #2989
maybe because I am not an admin? (yet another reason to change that)

[2020-09-14 14:26] abuiles commented on #2989
I think it only works when the branch is merged to master.

On Mon, Sep 14, 2020 at 8:40 AM Alfonso Acosta <notifications@github.com>
wrote:

[2020-09-14 17:06] abuiles commented on #3000
@Shaptic I added some initial helper here to help us write the integration tests https://github.com/abuiles/go/commit/6d3d8e8686a6e05b815ba0d79237daae98b1b47b -- we can use this for now internally, while we define the final interface for txnbuild.

[2020-09-14 17:08] abuiles commented on #3000
@2opremio @tamirms can you check the interface here https://github.com/abuiles/go/commit/6d3d8e8686a6e05b815ba0d79237daae98b1b47b#diff-53889a0fa496ed0e06224eaebe4319d7R25 -- this is just an initial version to help us write integration tests.

[2020-09-15 14:19] 2opremio commented on #3001
That's one good option.

Alternatively we could reuse the `xdr.RevokeSponsorshipOp` or, if we want to hide the ledger key concept, we could create a union type similar to to `xdr.LedgerKey`. Something like:

[code]

[2020-09-15 18:29] Shaptic commented on #3000
I cherry-picked the above commit as part of my [`predicate-tests`](https://github.com/Shaptic/go/tree/predicate-tests) branch (see [exact file](https://github.com/Shaptic/go/blob/predicate-tests/services/horizon/internal/txnbuild/create_claimable_balance.go) and added some things as I needed them for the tests.

[2020-09-15 21:56] #2271 closed

[2020-09-15 22:49] abuiles commented on #3000
We had a conversation and decided to move forward with the factory method to create `xdr.ClaimPredicate`and keep a txnbuild struct to wrap the destination as a string and then the predicate as an xdr struct.

We'll have the following in txnbuild

[code]

[2020-09-16 07:36] 2opremio commented on #2942
It turns out @tamirms was already almost done with this, so I will give way to him instead.

[2020-09-16 17:05] tamirms opened #3022 "Dump Ledger State Job is broken due to Stellar Core schema changes"
Recent executions of the [dump ledger state job](https://github.com/stellar/go/tree/master/exp/tools/dump-ledger-state) failed after encountering the following error `column \"buyingliabilities\" does not exist`. This bug started happening because the Stellar Core schema recently changed in https://github.com/stellar/stellar-core/pull/2593 .  We should update the script to query the new tables.

A

[2020-09-16 19:52] #2968 closed

[2020-09-16 21:44] abuiles commented on #2988
Merged in #2998

[2020-09-16 21:44] #2988 closed

[2020-09-16 21:44] abuiles commented on #2915
This was done already - we are storing the hex encoding representation

[2020-09-16 21:44] #2915 closed

[2020-09-17 10:18] 2opremio opened #3029 "Create TLS integration test"
So that this doesn't happen again https://github.com/stellar/go/pull/3010

[2020-09-17 10:19] 2opremio commented on #3029
Actually, it could even be a unit test

[2020-09-17 10:24] 2opremio commented on #3001
@abuiles are you taking up this one?

[2020-09-17 10:45] tamirms opened #3031 "Use docker-compose workflow in integration tests"
Improving upon Bartek's initial implementation of https://github.com/stellar/go/issues/2812 we can use docker compose to spin up a new stand alone network instead of using the stellar quick start docker image.

The advantage of using docker compose is that we can simplify the integration test scaffolding. In the current implementation, we use the golang docker client to programmatically create a d

[2020-09-17 11:01] tamirms commented on #2812
Improvements to the current implementation are tracked in https://github.com/stellar/go/issues/3031

[2020-09-17 11:01] #2812 closed

[2020-09-17 12:55] abuiles commented on #3001
@2opremio no. I thought you were doing it as part of the integration test work. Let's do the implementation first in the internal txnbuild and we can work on the official one next week.

[2020-09-17 12:57] abuiles commented on #2943
Fixed by @tamirms on #3021

[2020-09-17 12:57] #2943 closed

[2020-09-17 12:58] abuiles commented on #2942
Fixed by @tamirms on #3021

[2020-09-17 12:58] #2942 closed

[2020-09-17 13:04] abuiles commented on #2787
Horizon support for CAP23 has been completed.

[2020-09-17 13:04] #2787 closed

[2020-09-17 13:04] abuiles commented on #2788
Horizon support for CAP33 has been completed.

[2020-09-17 13:04] #2788 closed

[2020-09-17 13:09] 2opremio commented on #3001
Sure

[2020-09-17 16:33] Shaptic commented on #3000
This was implemented & merged in the above.

[2020-09-17 16:33] #3000 closed

[2020-09-17 21:35] abuiles opened #3035 "Protocol 14 support"
This issue lists the changes to the Horizon API introduced by [CAP-23](https://github.com/stellar/stellar-protocol/blob/master/core/cap-0023.md) and [CAP-33](https://github.com/stellar/stellar-protocol/blob/master/core/cap-0033.md). These two CAPs comprise the public-facing changes in Stellar Protocol 14. The first Horizon version with the updated API is Horizon 1.9.0-RC, to be released 2020-09-21

[2020-09-17 22:48] 2opremio opened #3037 "Improve developer experience with integration tests"
Complementary to #3031

We have our first set of integration tests! (yay! kudos guys!). But (and there is always a but) the developer experience could be improved:

1. Environment variables need to be set in order to establish:
   a. That we in fact want integration tests to run (`HORIZON_INTEGRATION_TESTS`). We could use [go build tags for that](https://mickey.dev/posts/go-build-tags-testing/), I

[2020-09-18 09:19] BRBussy commented on #2039
Hi everyone! Any idea on a timeline for when this dependency update will become available in a new horizonclient/txnbuild release? From what I can see this change is not yet available in the [latest release](https://github.com/stellar/go/releases/tag/horizonclient-v3.2.0) of the client libraries.
Please let me know if I am misunderstanding something and there is a way to use the latest client libr

[2020-09-22 17:44] abuiles commented on #3035
Hi! We just made available a Horizon standalone network running protocol 14 which you can use to test your changes.

- The Horizon URL is https://horizon-protocol14.stellar.org
- The Network Passphrase is `Standalone protocol 14 Devnet; September 2020`

To get test lumens, generate a new keypair [here](https://laboratory.stellar.org/#account-creator?network=custom&horizonURL=https%3A%2F%2Fhorizon-

[2020-09-23 11:33] 2opremio commented on #3037
After needing to debug a bug in horizon found through integration tests, I think it would be fantastic if you could run Horizon from the test itself instead of using an opaque binary in the container.

The integration test machinery would spawn Horizon in the host, as part of the test code, making it easy to debug exactly what is happening in Horizon.

[2020-09-23 21:25] leighmcculloch commented on #3037
Where do the integration tests live? I was trying to find `HORIZON_INTEGRATION_TESTS` in the code and I could not find it.

I used build tags in `pasapeso-backend` for integration tests and the one thing I will say is the downside of doing that is there's no visibility that tests aren't running, and the tests won't be compiled locally when building without the tags. The advantage of using an env v

[2020-09-27 17:29] #3001 closed

[2020-09-28 16:13] bartekn opened #3065 "RevokeSponsorship can spam any account operations list"
### What version are you using?

`protocol-14` branch.

### What did you do?

I think that the code here allows spamming any account `/operations` list:

https://github.com/stellar/go/blob/bfec456b92813919809c61de82729a143f9a817a/services/horizon/internal/expingest/processors/operations_processor.go#L565-L579

The signer is added as a participant (line 577) of operation but it can be arbitrary Ste

[2020-09-28 16:30] 2opremio commented on #2939
This was done at #3050

[2020-09-28 17:19] bartekn commented on #3065
Looks like the line 571 can also be a problem but ops will only be visible with `include_failed=true`.

[2020-09-28 18:23] abuiles commented on #3035
We noticed some effects were missing and should be incorporated (they are **not** included in the 1.19.0 Horizon release candidate). You can find extra context at https://github.com/stellar/go/pull/3060

## Extra new effects in protocol 14

* `data_sponsorship_created` with the following fields:
    * `sponsor` - sponsor of account data.
    * `data_name` - name of the data created.
* `data_sponso

[2020-09-29 09:16] 2opremio opened #3069 "Remove duplication of effects code"
Effects are parsed and defined in multiple places.

Effect types and type names are identically defined at`history/main.go` and `effects/main.go`

They are parsed almost identically at `effects/main.go.UnmarshallEffect()`, `resourceadapter/effects.go.NewEffect()`

This makes effects hard to maintain and error-prone. For instance, see #3068 which was found by @abuiles after yet another problem with

[2020-09-29 09:39] 2opremio commented on #3037
in the `protocol-14` branch until it's released.

[2020-09-29 09:40] 2opremio commented on #3069
In fact, I think much of the effects code could be autogenerated.

[2020-09-29 10:09] 2opremio opened #3070 "Obtain transaction-level effects"
We currently only look into the operation-level changes of a transaction in order to obtain effects.

However, there are also transaction level effects which we could serve when asked for the effects of a transaction (i.e. `sdk.EffectRequest{ ForTransaction: hash}`).

See https://github.com/stellar/go/pull/3050#discussion_r493651644 for a good example.

[2020-09-29 11:28] bartekn commented on #3065
Fixed in #3071.

[2020-09-29 11:28] #3065 closed

[2020-09-29 16:44] 2opremio opened #3075 "Refactor sponsorship integration tests"
* They are really verbose.
* They use `assert.Eventually` which apparently isn't necessary (Horizon seems to guarantee strict ordering after submitting a transaction).
* Part of the machinery could be moved into the integration-test infrastructure.
* Test could potentially be merged (they all follow a similar workflow). It may not be possible since different tests have different particularities (e

[2020-09-29 17:41] Shaptic commented on #3037
Point (2) has been (should be?) addressed in #3059! Cleanup should always work, regardless of panic, test failure, or user interruption.

[2020-09-29 17:49] Shaptic commented on #3075
I haven't been exposed much to the sponsorship tests, and it would be good to familiarize myself with that side of the Protocol 14 changes. Do you mind if I pick this up?

[2020-09-29 18:58] 2opremio commented on #3075
Of course not, go ahead!

[2020-09-29 20:13] leighmcculloch commented on #2352
I think the retry code should be in the caller as well, or we should define the retry logic in the HTTP Client, or in a separate type that provides that capability on-top of the type. If the retry logic is added in between the caller and the http archive code it keeps the archive code simple.

There are some open source packages that could help do this that could be explored, for example https://g

[2020-09-30 16:54] bartekn opened #3079 "Consider renaming predicate JSON fields to snake case"
### What version are you using?

1.9.0

### What did you do?

Request claimable balance created by @abuiles: https://horizon-testnet.stellar.org/claimable_balances/0000000043d380c38a2f2cac46ab63674064c56fdce6b977fdef1a278ad50e1a7e6a5e18:

[code]

### What did you expect to see?

`abs_before` - snake case name consistent with other fields.

### What did you see instead?

`absBefore` - camel case.

[2020-09-30 17:42] ire-and-curses commented on #3035
Horizon support for protocol 14 is released in [Horizon 1.9](https://github.com/stellar/go/releases/tag/horizon-v1.9.0).
Go SDK support for protocol 14 is released in [horizonclient 4.0](https://github.com/stellar/go/releases/tag/horizonclient-v4.0.0)

[2020-09-30 17:42] #3035 closed

[2020-09-30 19:04] bartekn commented on #2939
@stellar/horizon-committers looks like we can close this? 🎉

[2020-09-30 20:56] bartekn opened #3081 "json: cannot unmarshal number into Go struct field RevokeSponsorship.offer_id of type string"
### What version are you using?

1.9.0

### What did you do?

Found this transaction when checking the logs:
https://horizon-protocol14.stellar.org/transactions/36c0f3aaf915667f3a15ef2bba2df4496f17a78e82112e58d26deef6dc203957 it's `/operations` return 500:
https://horizon-protocol14.stellar.org/transactions/36c0f3aaf915667f3a15ef2bba2df4496f17a78e82112e58d26deef6dc203957/operations
and the followi

[2020-09-30 20:58] bartekn commented on #3081
OK, I think it was fixed in https://github.com/stellar/go/pull/3072. @2opremio you can close this if it's the same bug.

[2020-09-30 21:07] ire-and-curses commented on #2939
Yeah I agree - if there are further tests needed, let's add them as separate issues.

[2020-09-30 21:07] #2939 closed

[2020-09-30 21:43] 2opremio commented on #3081
I do think it's the same bug but... could you test on testnet to be sure?

[2020-10-01 08:44] bartekn commented on #3081
The problem is here. We save the offer_id as string:
https://github.com/stellar/go/blob/47e9c166af25331dd4c451a0cca72565e29016bf/services/horizon/internal/expingest/processors/operations_processor.go#L492
but then it's unmarshaled into int64:
https://github.com/stellar/go/blob/47e9c166af25331dd4c451a0cca72565e29016bf/protocols/horizon/operations/main.go#L259

[2020-10-01 16:08] 2opremio commented on #3081
@bartekn note the `string` tag (i.e. it will accept a string even if it's an int64). I tested it.

Also, you were testing it on the 1.19 RC and not on the the GA release. I do think it's the same bug but I will eat my hat if you reproduce it on testnet (with the 1.19 final release)

[2020-10-01 16:26] 2opremio commented on #3081
PS: it's being tested at https://github.com/stellar/go/blob/8535626b249d88f0098d11322c17f9a12c3466ad/services/horizon/internal/integration/protocol14_sponsorship_ops_test.go#L829

[2020-10-01 16:28] bartekn opened #3084 "Unknown errors in actions are not logged with level=error"
@stellar/horizon-committers  I'm wondering if it's a bug. I'm currently debugging other issue connected to `/claimable_balances` and the error I'm triggering is propagated [here](https://github.com/stellar/go/pull/2661/files#diff-f5e8359e7c1aef7829875ba398b6357aR178) but it's logged with info level and `request failed due to error` message (few lines above). I think that the error level entry shou

[2020-10-01 16:31] bartekn opened #3085 "cursor in /claimable_balances not validated"
### What version are you using?

1.9.0

### What did you do?

Request `/claimable_balances` with invalid `cursor` value. Ex: https://horizon-testnet.stellar.org/claimable_balances?cursor=1003529-00000043d380c38a2f2cac46ab63674064c56fdce6b977fdef1a278ad50e1a7e6a5e18 (hex-encoded balance id is malformed).

### What did you expect to see?

`400 Bad Request` response.

### What did you see instead?

`

[2020-10-02 12:03] abuiles commented on #3079
Fixed in https://github.com/stellar/go/pull/3086

[2020-10-02 12:03] #3079 closed

[2020-10-02 17:14] abuiles opened #3089 "Feature Request: horizonclient.ClaimableBalanceRequest does not allow page qp"
`ClaimableBalanceRequest` should support pagination params like cursor, limit, and order.

[2020-10-02 17:17] abuiles commented on #3085
Fixed in #3088

[2020-10-02 17:17] #3085 closed

[2020-10-02 18:11] leighmcculloch commented on #2855
I'm going to close this issue. While I think it's interesting, the why not is compelling. It would be significantly harder to manually confirm who should be allowed to request signatures for an account in the case of dispute, and that seems valuable.

[2020-10-02 18:11] #2855 closed

[2020-10-02 20:00] abuiles commented on #3035
Hi there!

Just a quick heads up that we'll be changing the keys on the JSON response for claim predicates in the next release.

We introduced a couple of keys with camelCase, but we use snake_case in Horizon.

For consistency we decided to add this change in the next release and although it is a "breaking change", we'll be doing a patch release (1.10.0) - mostly because:

1. Testnet will be reset

[2020-10-02 20:40] abuiles commented on #3081
@2opremio @bartekn I smoke test this in testnet and the problem is fixed - https://horizon-testnet.stellar.org/transactions/02a69bb0dc83d004ae918aab2d10c9dbc2cbf4451ab12927a691b87e5c6c5079/operations

The `string` tag @2opremio  pointed above does the right thing and also the PR where the fixed was introduced mentions this specific scenario: `* Fix type for RevokeSponsorship's OfferID field, which

[2020-10-02 20:40] #3081 closed

[2020-10-02 20:40] abuiles commented on #2979
@tamirms already took care of this

[2020-10-02 20:40] #2979 closed

[2020-10-05 08:46] bartekn commented on #3081
@abuiles thanks for checking!

[2020-10-05 14:38] #3084 closed

[2020-10-06 18:14] #2973 closed

[2020-10-07 20:00] #3075 closed

[2020-10-08 11:08] bartekn commented on #2708
We decided to always use in-memory version by using https://github.com/stellar/go/issues/2842.

[2020-10-08 11:08] #2708 closed

[2020-10-08 15:12] 2opremio opened #3110 "Ingestion-as-a-library"
We should allow users to create their own core-ingestion pipelines.

High level tasks:

- [x] Make exp/ingest public
- [x] Keep internal/expingest private, but audit it:
   - [x] https://github.com/stellar/go/issues/2851 (`expingest -> ingest` rename issue here - bartek)
- [ ] Make sure developer experience is good:
   - [x] https://github.com/stellar/go/pull/3318 Rename `SingleLedgerStateReader`

[2020-10-08 15:26] ire-and-curses opened #3111 "Version Horizon's API"
### What problem does your feature solve?
Horizon's API is a collection of RESTful endpoints that return well-specified JSON responses. The API is documented here ([API reference](https://developers.stellar.org/api)).

The API evolves over time. Changes can be forced, due to upstream changes to the Stellar protocol itself, or be deprecations to improve the API. Because the ecosystem depends on thi

[2020-10-08 15:43] ire-and-curses opened #3112 "Release fast-txmeta architecture (Horizon 2.0)"
### What problem does your feature solve?
We've implemented [fast txmeta](https://github.com/stellar/go/issues/2550), and it is available experimentally. Now we need to confirm suitability for production, and make it available to all.

### What would you like to see?

- [x] Use new `stellar-core run-from` command in Stellar-Core (#2842)
- [x] Kube files (#3123)
- [x] Fast txmeta Horizon is running

[2020-10-08 20:56] JakeUrban opened #3115 "Implement SEP-10 2.1.0 Support"
## TL;DR

The SEP-10 protocol has been updated to relax the requirements of the single Manage Data operation included in SEP-10 challenge transactions, and **should be implemented by October 21st**. On this date the SDF will announce the SDK updates to Anchors and Wallets, urging them to update as soon as possible.

## Background

To provide context, the [SEP-10 2.0 changes](https://github.com/ste

[2020-10-08 20:56] JakeUrban commented on #3115
subscribing  to issue notifications

[2020-10-08 21:33] howardtw opened #3116 "Feature Request: Add a function get ID of a CalimableBalance on Transaction object"
### What problem does your feature solve?

For wallets built on Stellar, wallets often want to provide/sponsor the base reserve of user accounts so that users could start using the accounts smoothly without having to worry about it. Because of the financial cost of doing the sponsorship, it is important for wallets to keep track of the sponsorships.

In the event of a wallet wants to sponsor a cla

[2020-10-09 18:02] 2opremio opened #3119 "services/horizon: Reduce impact when implementing CAPs and SEPs"
The impact and code changes required in Horizon when implementing new CAPs and SEPs is really high.

For instance, the [changes to implement protocol 14](https://github.com/stellar/go/compare/horizon-v1.8.2...horizon-v1.9.0) required _23,417 additions and 8,391 deletions._

This issue is meant as an umbrella to make suggestions about what could be done. Please do so in the comments below.

[2020-10-09 18:58] Shaptic opened #3120 "services/horizon: Add Protocol 14 examples to docstrings"
Per @ire-and-curses, we (I) need to update the doc-strings to include examples for the new operations introduced in Protocol 14, much like the unit-testable examples for existing operations (e.g. [Payment](https://godoc.org/github.com/stellar/go/txnbuild#example-Payment)). This includes:
 - create claimable balance
 - claim claimable balance
 - begin/end sponsoring future reserves
 - revoke sponso

[2020-10-09 19:12] 2opremio commented on #3119
## Reduce Boiler Plate Operations and Effects

### Problem
Adding new Operations (and Effects) require typing a lot of boilerplate.

Let's focus on Operations since Effects are likely to be reimplemented in the future [needs citation].

Adding a new operation requires changes in:
* ingestion in order to extract information from it and storing it in the database
* (to a lesser extent) presentation,

[2020-10-09 20:54] Shaptic opened #3121 "Move integration tests away from the stellar/quickstart:testing image."
There are too many problems with the developer experience when relying on this all-in-one image that will likely be deprecated in favor of the Docker Compose solution as a "getting started" method soon.

Many issues are covered in #3037; in summary, give me flexibility & speed or give me death.

[2020-10-09 22:00] #2513 closed

[2020-10-10 03:35] leighmcculloch commented on #2796
@howardtw The proposed change for this is documented in stellar/stellar-protocol#744. You're welcome to take over the implementation of this work.

[2020-10-13 15:52] bartekn opened #3123 "Create Kube config for Horizon with Captive-Core"

[2020-10-13 21:54] ire-and-curses commented on #3119
https://github.com/stellar/go/issues/2175

[2020-10-13 23:01] 2opremio opened #3126 "txnbuild: add helpers to obtain Claimable Balance IDs"
CAP 23 (as part of Stellar Protocol 14 and released with Horizon 1.9.0) , allows creating and claiming Claimable Balances.

Those balances are queried and claimed using their ID which can be obtained:

1. Before submitting the transaction creating the claim. The Claim ID is internally just a Hash which can be inferred even before Core accepts the transaction. A helper method/function would be usef

[2020-10-14 09:28] bartekn opened #3128 "Debug slow ingestion (2020-10-14)"
### What version are you using?

1.9.1

### What did you do?

On 2020-10-14 between 0:30-1:30am UTC pubnet ingestion was slower, with average ingestion duration on all pubnet ingesting instances of 1.5s. It looks like there were many trustline updates in the ledgers and we don't batch updates. Maybe this would improve the speed?

<sup>(chart time in UTC+2)</sup>
<img width="823" alt="Screenshot 20

[2020-10-14 19:22] bartekn opened #3129 "Remove STELLAR_CORE_DATABASE_URL requirement when ENABLE_CAPTIVE_CORE is set"
### What version are you using?

1.9.1

### What did you do?

`STELLAR_CORE_DATABASE_URL` shouldn't be required when `ENABLE_CAPTIVE_CORE` is set.

[2020-10-14 22:21] #3116 closed

[2020-10-15 14:45] bartekn opened #3131 "Push stellar/horizon image with stellar-core 14.1.1"
In https://github.com/stellar/go/pull/3130 I upgraded stellar-core to 14.1.1. in stellar/horizon image but it's pushed on releases only. To be able to use the image in captive core mode in kubernetes we need to push update image to docker repository. Additionally, we can include https://github.com/stellar/go/pull/3104 because it's been fixed in Horizon.

[2020-10-15 15:25] bartekn opened #3132 "ingest/ledgerbackend: Debug slow ingestion during catchup in captive-core"
### What version are you using?

1.10.0

### What did you do?

Start Horizon + Captive Core from empty DB. Wait for state ingestion. Then it should catchup from checkpoint ledger up to the latest ledger.

### What did you expect to see?

Ingestion is fast.

### What did you see instead?

Every 4-5 ledgers ingestion is slower even when number of ops/changes is comparable to previous ledgers. See my

[2020-10-15 17:25] tamirms commented on #3131
I updated the `stellar/horizon:latest` and `stellar/horizon:1.10.0` docker images so that they include the 14.1.1 version of the stellar core binary.

https://hub.docker.com/layers/stellar/horizon/1.10.0/images/sha256-71e7965f5c8a17e72a14bd660618770f10f374856a5275d52404695c4b720510?context=explore

https://hub.docker.com/layers/stellar/horizon/latest/images/sha256-71e7965f5c8a17e72a14bd660618770f1

[2020-10-15 17:25] #3131 closed

[2020-10-15 18:27] #3123 closed

[2020-10-15 18:32] bartekn opened #3133 "Add ledger stats to /metrics"
Expose all `stats_` metrics collected during ledger ingestion to `/metrics`. This will help correlate slower ingestion with activity type in the ledger.

[2020-10-15 23:25] #3115 closed

[2020-10-16 09:24] bartekn opened #3134 "Check protocol version and bucket list hash after ingesting state"
Stellar-Core loses sync with the network when it's not applying ledgers in around a minute (time window to recover quickly because other nodes keep info about a few recent ledgers). Such situation currently happens when Horizon is ingesting state and using Captive Stellar-Core. Syncing with the network adds a couple extra minutes to Horizon initialization time.

When ingesting state we need `Ledge

[2020-10-16 09:37] bartekn commented on #2669
I'm reopening this. I think it's worth adding Stellar-Core logs to Horizon log but wrap it in our log format. This way we can add labels (I propose `service=ingest subservice=stellar-core`) so it's easy to filter them out but. We can also identified critical (form Horizon point of view) errors in Stellar-Core log and promote such logs to `error` level.

[2020-10-16 16:08] amissine commented on #1514
Base can be a maker or a taker, and also a seller or a buyer of its base asset. All four combinations are perfectly valid.

[2020-10-16 16:48] ire-and-curses commented on #2669
I'd be cautious about identifying specific critical errors. It couples Horizon to stellar-core's log format, which is not a formal API and could change at any time (and silently stop reporting in our logs).

[2020-10-16 16:49] bartekn commented on #2669
We won't do that. We are going to keep Core log together with Horizon log.

[2020-10-16 23:43] #2997 closed

[2020-10-19 21:13] Shaptic opened #3141 "Ensure that it's possible to create accounts with zero starting balance."
With the introduction of Protocol 14 and specifically [CAP-33](https://github.com/stellar/stellar-protocol/blob/master/core/cap-0033.md), accounts can now be created **without** a starting balance when they are sponsored.

The [CAP notes](https://github.com/stellar/stellar-protocol/blob/master/core/cap-0033.md#operation-validity-changes):

This subtlety is easy to overlook, so please ensure that t

[2020-10-19 21:32] Shaptic commented on #3141
I've confirmed that this is already possible with the Go SDK by trying out the following integration test:
[code]
There were no errors.

[2020-10-19 21:36] ire-and-curses commented on #3141
Nice!

[2020-10-19 21:46] Shaptic commented on #3141
We can do better than a one-off test: #3142 adds a permanent unit test. :blush:

[2020-10-20 20:20] #3141 closed

[2020-10-21 17:35] 2opremio opened #3145 "Captive Core's temporary db directory disappears breaking execution"
While working on #3144 I encountered the following error in captive core:

[code]
which happens in a loop

[2020-10-21 17:37] 2opremio commented on #3145
Could it be that the directory is removed by the system due to being in `/tmp` ?

[2020-10-21 20:02] bartekn opened #3149 "Remove Sanity test in integration tests"
I think you're right. In general, when a new protocol version appears for testing we will want to run all existing integration tests to ensure there're no changes in behaviour. We will also write new tests testing new features. So it seems we always want to upgrade to the latest protocol version available in Core.

To sum it up:
* Maybe we should remove sanity test here? I added it when building i

[2020-10-21 23:27] nullstyle opened #3152 "xdr: github.com/lib/pq and other database code has crept into the xdr package"
--- SDF golang folks ---
Hey y'all,

Long time no interact;  Hope everyone is doing well.
--- We now resume your regularly scheduled issue  ---

As part of https://github.com/stellar/go/commit/d49164254ee4d543d520d1e8581f2f75c1f06d3e, the `xdr` package picked up a -- in my opinion at least -- heavy-weight package dependency in the way of `github.com/lib/pq`.  When I was originally envisioning the

[2020-10-21 23:30] nullstyle commented on #3152
Things look much nicer when you simply delete `xdr/db.go`:

[code]

Of course, that won't actually perform the refactoring, I simply wanted to show the potential for cleaning up the dependency tree.

[2020-10-22 00:11] abuiles commented on #3152
@nullstyle hey welcome back! what you are proposing makes sense. It seems like the actual struct that depends on it is `xdr.Price`.  And by looking at the code, it seems like we might be able to keep `Scan` and `Value` without depending on pq.

If we go with your route we should probably check that no other services/app rely on this behavior, since this would be a breaking change.

[2020-10-22 01:30] nullstyle commented on #3152
@abuiles good point regarding keeping the change minimal and non-breaking where we can.

[2020-10-22 01:55] nullstyle commented on #3152
Here's a rough cut:  https://github.com/stellar/go/compare/master...nullstyle:depq

Thoughts?

[2020-10-22 03:09] leighmcculloch commented on #3152
I think that diff looks good but since it is a breaking change I agree with @abuiles that we should target a v5 release of the Go SDK. The change is a worse kind of breaking change; it is a subtle breaking change that breaks at runtime and not compile time. If code is already using `xdr.Price` with `"sql".Rows.Scan(...)`, when we remove the `Scan` function from the Go SDK, the code will continue t

[2020-10-22 03:15] leighmcculloch commented on #1237
This issue hasn't been very well updated which is my fault. In 2019 I started work in https://github.com/stellar/go/pull/1767 to break up this repo into separate Go Modules, while retaining a single monorepo that holds the modules. That PR included scripts that would help us run all tests, linters, etc for all modules, since the standard Go commands unfortunately do not operate across multiple mod

[2020-10-22 04:03] nullstyle commented on #3152
@leighmcculloch sounds like you guys have some bigger plans for the code than my change will fit with.    I'll rock on my own fork while you all make whatever structural changes you've got in the pipelines.   Thanks for the heads up!

[2020-10-22 04:12] nullstyle commented on #3152
It's also worth noting, even though the dependency would technically remain until the monorepo is separated  into modules, that's not really the issue i'm concerned with.  In my case, I'm building a binary whose go code I want to audit on a package by package basis, regardless of modules; I only am concerned about the import graph.

[2020-10-22 14:30] 2opremio commented on #3145
The full context is:

[code]

[2020-10-22 15:15] #3129 closed

[2020-10-22 16:53] 2opremio opened #3153 "Make integration tests work with Captive core"
There was an initial effort at #3114  (which didn't work because of #3137). The current effort is at #3144

[2020-10-22 16:59] 2opremio commented on #3145
What is happening is that the captive core backend doesn't properly reset it's tmp directory on error. Fix coming up.

[2020-10-23 10:32] 2opremio opened #3155 "Captive Core's run-from implementation doesn't work for ledgers < 63"
As part of #3153 I found out that run-from doesn't work for ledgers < 63. This is the error I am getting:

[code]

Requesting `ledger/00/00/00/ledger-00000001.xdr.gz` isn't correct since it's not a checkpoint ledger.

[2020-10-23 15:23] 2opremio opened #3157 "Captive core's online mode fails to start at ledger 1"
In the context of adding captive core integration tests (#3153 ) I found that captive core's online mode (with and without `run-from`) fails to start from ledger 1.

This is a special case of #3155 , which fails event with the fix at #3156 .

Most relevant log lines:
[code]

<details>
<summary>Full log context (using `run-from` and the fix at #3156)</summary>
<p/>

[code]

</details>

[2020-10-23 15:30] 2opremio opened #3158 "Improve the detection of captive-core failures"
In the context of adding captive core integration tests (#3153 ) I found that a failure in captive core's run-from execution failed but went uunnoticed

Most relevant log lines:
[code]

Thus, Horizon seems satisfied with Core's preparation of the range. However, after that, we get:

[code]

My guess is that captive-core returned a 0 exit code. However, it seems like captive core's output was empty

[2020-10-23 15:36] 2opremio opened #3159 "Crash in captive-core's backend"
[code]

This seems to be a scenario similar to #3145 , in which captive core gets into a bad state after a reset (in this case, causing a crash).

Thus, I think that the interaction with captive core should be more defensive.

<details>
<summary>Full log context (using `run-from`)</summary>
<p/>

[code]

</details>

[2020-10-23 18:16] abuiles commented on #3155
@2opremio this PR allows online mode to start from ledgers < 63 https://github.com/stellar/go/pull/3160

[2020-10-26 14:49] #3133 closed

[2020-10-26 19:46] 2opremio commented on #3153
This is blocked by #3157

[2020-10-26 19:48] 2opremio commented on #3155
This is partly fixed by #3156 . It still doesn't work for ledger 1, but #3157 is already covering it. Closing

[2020-10-26 19:48] #3155 closed

[2020-10-27 09:59] #3145 closed

[2020-10-27 12:45] 2opremio commented on #3159
Fixed by #3162

[2020-10-27 12:45] #3159 closed

[2020-10-27 15:33] #3157 closed

[2020-10-28 03:26] Shaptic commented on #3126
Are we sure that (2) is something we need/want?

- The _creator_ of the claimable balance entry (CB) can use (1).
- The _recipient_ of the CB must've been either notified
  - **directly**, e.g. creator sends him the tx, in which case he can also send the balance ID, or
  - **indirectly**, e.g. by polling `/claimable_balances?sponsor=[me]`, in which case the balance ID is directly available in the

[2020-10-28 13:04] bartekn opened #3169 "Update stellar/horizon image to install Core using Debian package repository instead of S3"
Packages are no longer pushed to S3. See: https://github.com/stellar/docker-stellar-core-horizon/pull/201 . Blocking fast-txmeta in kube from running in testnet (requires 15.0.0).

[2020-10-28 17:29] Zagan202 commented on #3126
I think (2) is a good quality of life feature to have.

To your point @Shaptic, yes it will be kinda redundant if the creator of the CB entry uses (1).
However it is highly plausible that creator doesn't calculate claimable balance ID and send it back directly to the recipient; thus leaving the recipient only the _indirect_ path.
The indirect path ( `polling /claimable_balances?sponsor=[__]`) is t

[2020-10-28 17:55] Shaptic commented on #3126
This can easily be alleviated with more filters! For example,
[code]
would always give you the latest claimable balance entry available to you (if any, of course).

----

The main reason why I brought this up for discussion is that as I was implementing the helper, I realized it was basically the _only_ such helper that we had. That felt strange to me, given that there are plenty of other instance

[2020-10-28 18:32] bartekn commented on #3158
I was about to create another issues for this. Here's a small repro script I wrote (based on `captive-core-start-tester`):
[code]
After starting it find `stellar-core` process with `ps` and then kill it. You should still receive an error but with a message like `Stellar-Core exited unexpectedly`.

[2020-10-28 18:35] #3120 closed

[2020-10-28 18:59] Shaptic commented on #3121
This is a duplicate of #3031.

[2020-10-28 18:59] #3121 closed

[2020-10-29 11:34] bartekn commented on #3128
Similar thing happened yesterday:
<img width="826" alt="Screenshot 2020-10-29 at 12 33 58" src="https://user-images.githubusercontent.com/464938/97563222-065d9900-19e3-11eb-9b16-774a1b573f49.png">
<img width="830" alt="Screenshot 2020-10-29 at 12 34 11" src="https://user-images.githubusercontent.com/464938/97563251-0d84a700-19e3-11eb-8076-ee1b9b9258f9.png">
However, I checked the code again and we

[2020-10-29 13:16] bartekn commented on #2842
Fixed in https://github.com/stellar/go/pull/3163.

[2020-10-29 13:16] #2842 closed

[2020-10-29 14:37] bartekn opened #3172 "Remove trust on history archives in captive core"
Since _run-from_ feature was merged (https://github.com/stellar/go/pull/3163) ingestion system trusts history archives completely in the init stage of `buildState` and `resumeState` when Stellar-Core subprocess is started. The reason is that Stellar-Core requires both the sequence and the hash of the previous ledger we want to start from. Currently we get these values from history archives but we

[2020-10-29 15:32] bartekn opened #3173 "503 response in /trades for a single IP only"
### What version are you using?

1.10.1

### What did you do?

There's a weird behaviour affecting a single IP streaming `/trades` endpoint. It sends streaming requests every 10 seconds, `/trades` responds with `503` HTTP status after 10 sec. I tried to reproduce the behaviour with `ab` (also sending streaming requests) and all responses were successful (`200` HTTP status):
[code]

The underlying

[2020-10-29 16:33] 2opremio opened #3174 "Horizon logs add a lot of noise to the output of integration tests"
Some ideas:

* Reduce their verbosity to warn/error by default
* Print them differently (e.g. color, indentation) to the rest of the logs
* Not print them at all by default?

[2020-10-29 16:34] 2opremio commented on #3174
Closely related to #3037

[2020-10-29 18:14] JakeUrban opened #3176 "SEP-10 v3.0 Changes (from the SDF)"
## SEP-10 3.0

### TL;DR

Implement the changes described in the [SEP-10 v3.0 PR](https://github.com/stellar/stellar-protocol/pull/746) by November 13th. It adds a check for the correct `homeDomain` value in the SEP-10 challenge transaction. `homeDomain` is the domain hosting the [SEP-1 stellar.toml](sep-0001.md) containing a `WEB_AUTH_ENDPOINT` and `SIGNING_KEY`.

The SEP-10 v3.0 PR is not merged

[2020-10-29 18:14] JakeUrban commented on #3176
@jakeurban @rice2000 @leighmcculloch

[2020-10-29 21:05] #3126 closed

[2020-10-30 15:37] #3022 closed

[2020-10-30 16:10] bartekn opened #3178 "Improve checkpoint waiting time in state verification"
In:
https://github.com/stellar/go/blob/c0a8ad31f460fa0dac36303f6ca0a37361652015/services/horizon/internal/ingest/verify.go#L113-L120
We wait 40 seconds for Stellar-Core to publish checkpoint files. However, in most cases checkpoints are published much quicker. Instead of waiting for 40 seconds, let's check if checkpoint exists 8 times every 5 seconds.

[2020-10-30 22:04] bartekn commented on #3132
I wrote a small script based on `captive-core-start-tester` to help me debug this. I think it comes down to the read-ahead buffer size (now just 2 ledgers). There are two situations in which this issue can occur:
* If ingestion is faster than Stellar-Core applies ledgers then Horizon waits for next available ledger for 1s because `GetLedger` is not blocking in online mode (instead of blocking it j

[2020-11-01 00:12] jun0tpyrc opened #3180 "[Testnet stuck block 51896] error calling MarshalJSON: year outside of range [0,9999]"
`stellar/quickstart:testing@sha256:c6e13d236b542f8eb43cebcb36b1b1a44a7b888ea35f76386a981d11e211d362`

horizon-stdout
[code]

[2020-11-01 16:05] bartekn commented on #3180
This is Horizon issue. Will be fixed in 1.11.0 (tomorrow).

[2020-11-02 18:23] sammy1991106 commented on #3180
Same issue here.

[2020-11-02 23:42] rafaeltokyo opened #3185 "Feature Request: Create Custom Asset"
hey guys i cant found the create custom asset, was removed?

[2020-11-03 01:49] #3185 closed

[2020-11-03 04:48] tundak commented on #3180
Still waiting for fix.

[2020-11-03 05:07] leighmcculloch commented on #3180
This has been fixed in [v1.11.0](https://github.com/stellar/go/releases/tag/horizon-v1.11.0) released today. It looks like we missed updating this duplicate issue. The fix was implemented in #3183.

I'm closing this issue, please reopen if the issue continues to occur.

[2020-11-03 05:07] #3180 closed

[2020-11-03 05:31] jun0tpyrc commented on #3180
Hello @can we also have a new docker image of `testing` tag with the integration fixed,

the latest horizon seem changed something asking for DATABASE_URL,
 so just mounting the binary into old image like below would not work
`"/data/stellar/app/horizon-v1.11.0-linux-amd64/horizon:/opt/stellar/horizon/bin/horizon"`

it requires crafting `DATABASE_URL` envvar, after which I still couldn't apply mig

[2020-11-03 10:52] tundak commented on #3180
`2020/11/03 10:49:15 Invalid config: db-url is blank. Please specify --db-url on the command line or set the DATABASE_URL environment variable.`

after set `DATABASE_URL` as environment variable

`2020/11/03 10:50:24 pq: relation "offers" already exists handling 19_offers.sql`

[2020-11-03 14:08] 2opremio commented on #3153
And now it's blocked by https://github.com/stellar/stellar-core/issues/2778

[2020-11-03 18:45] larsloser86 opened #3209 "Wrong Content-Type: application/hal+json while using streams (Eventsource)"
The following '(var es = server.tradeAggregation(base, counter, startTime, endTime, resolution, offset).cursor("now")
  .stream({ onmessage: callback }) ) results in a 406 error because the response content-type is application/hal+json. Eventsource specifies the the text/event-stream.

"version": "6.0.0",

Steps to reproduce the behavior:

var StellarSdk = require("stellar-sdk");
var server = new

[2020-11-03 21:04] abuiles commented on #3180
We just updated the quick starter with the latest version of Horizon. For the people running into the `DATABASE_URL` issue - which version of Horizon did you have previously?

[2020-11-03 21:45] nagarwa2 commented on #2556
This was resolved with the recommendation.

[2020-11-03 21:45] #2556 closed

[2020-11-03 21:49] nagarwa2 opened #3188 "Unable to send payments"
### What version are you using?
"horizon_version": "1.10.1-c5107ad336973eecbf3b0cef587f631df4f0f658"
"core_version": "stellar-core 14.1.1 (5b2989d334f578b00ac9b5996888257f5922a8a4)"

### What did you do?
Upgraded and restarted the horizon server.

### What did you expect to see?
Able to send payments for an account.

### What did you see instead?
Whenever I am trying to send payment operation usin

[2020-11-03 22:26] ire-and-curses commented on #3188
Did this start failing after the Horizon upgrade? Is the Horizon version you quoted the previous version or the upgraded version?

Are you running on testnet or pubnet?

Does the code work against SDF Horizon servers?

[2020-11-03 23:17] nagarwa2 commented on #3188
This is the upgraded version. Looks like it start after the upgrade as previously it was working as expected. I used to not see timeouts.

In this version, every transaction is going into timeout. I am running on pubnet.

I am able to connect and make payments through SDF Horizon servers but I see the same error without receiving transaction hash in response.

[2020-11-03 23:27] ire-and-curses commented on #3188
Could you elaborate on what you mean by

Are you saying you never get a successful response from SDF pubnet servers? How do you know the payment succeeded? Can you share a Horizon link to the successful payment?

[2020-11-03 23:30] nagarwa2 commented on #3188
Yes, I do not get a response and see the timeout error. But after some time when I see the wallet, the transaction was successful.
One of the transaction with the above scenario :
https://stellarchain.io/tx/de3f49fa3848418a944f74f9434f62fdd623a01aba3783c615086d474eb0c4a9

[2020-11-04 01:34] bert2002 commented on #3180
[code]

[2020-11-04 12:20] #3169 closed

[2020-11-04 13:16] bartekn opened #3191 "Parsing CLI params in `db migrate` command not working"
_Originally posted by @tundak in https://github.com/stellar/go/issues/3180#issuecomment-721043334_

I git bisected it to this commit: https://github.com/stellar/go/commit/b0ec1a1b2a7c048def0600e4b62036ac1a378861

[2020-11-04 13:17] bartekn commented on #3180
Thanks for reports. Tracking in https://github.com/stellar/go/issues/3191.

[2020-11-04 15:01] bartekn opened #3193 "Create tests for setting configuration values via CLI params and env variables."
Horizon 1.11.0 contained a bug preventing setting `--db-url` config via CLI params. We should create tests (integration tests) checking this. See: https://github.com/stellar/go/issues/3191

[2020-11-04 15:17] #3191 closed

[2020-11-04 15:23] bartekn commented on #3180
The fix has been released in Horizon 1.11.1.

[2020-11-05 03:52] nagarwa2 commented on #3188
Hello, any update on this ?

[2020-11-05 10:07] ire-and-curses commented on #2552
For future reference: around **1.5 days** for full reingestion with bigger hardware than above.

https://github.com/stellar/go/blob/master/services/horizon/internal/docs/captive_core.md#using-captive-core-to-reingest-the-full-public-network-history

Hardware spec:

[2020-11-05 14:38] bartekn opened #3195 "services/horizon/ledger.State package in Horizon is a global variable"
`horizon/ledger.State` is a global variable. This is a bad pattern and caused some issues (see https://github.com/stellar/go/pull/3143/#issuecomment-721128315). We should make the state local to `horizon.App` and pass a pointer to it to other parts of the system that need it.

[2020-11-05 18:43] graydon commented on #2552
@ire-and-curses I'm assuming core is not consuming many IOPS during these runs (assuming it's all running captive in-memory) **but** if you're IOPS-limited on the horizon side, I wonder if you've considered trying running on instance-local NVMe storage.

I ask because -- for the core team's own testing work -- switching to instance NVMe storage has been a _substantial_ performance win over "trying

[2020-11-05 21:15] 2opremio commented on #2552
@graydon While I was working on this issue in June, a Horizon RDS instance with the full history of prodnet consumed ~4TB of storage.

With those size requirements (which, in an ideal world, we should strive to reduce significantly to reduce running costs) General Purpose SSD storage seems like a nice fit.

I think NVMe would be too expensive. On the other hand, it may allow us to reingest the ful

[2020-11-05 21:42] ire-and-curses commented on #2552
This is definitely something to keep in mind if/when we move to a model of configurable endpoints in Horizon to control DB size.

[2020-11-05 22:20] #3031 closed

[2020-11-05 23:30] ire-and-curses commented on #3188
We'll try and repro this. It may be an SDK issue. If you are able to try a similar TX submission with another SDK against your Horizon instance, that would be helpful, but not essential.

[2020-11-05 23:34] rokopt commented on #3157
See: https://github.com/stellar/stellar-core/issues/2778#issuecomment-722702757

[2020-11-06 09:27] bartekn commented on #3188
@nagarwa2 it would help if you could send Horizon logs from around the time you submit transaction. There are multiple reasons why it can be happening:
* Surge pricing in the network (but looking at the fee in your tx and the number of ops in the ledger it should be good),
* Horizon is lagging (currently Horizon needs to be synced with Horizon for transaction submission to work correctly),
* Stell

[2020-11-06 12:32] tamirms commented on #3188
I was able to send transactions to https://horizon-testnet.stellar.org/ using v0.21.1 of the Java SDK. The only issue I experienced was that 10 seconds was too low of a timebounds for the transaction and I received a response with a `tx_too_late` error code. However, once I increased the timebounds to 100 seconds, I always got a successful transaction response

[2020-11-06 13:15] bartekn opened #3196 "Fix separation of concerns in Horizon processors"
Currently, many Horizon processors are relying on `db2/history` package to do parts of ingestion. `db2/history` methods should be _dumb_: they should accept struct to insert/update in a DB and do nothing else. Doing this will make code and tests simpler and will allow writing fuzzers with a mocked DBs.

While working on this we can fix existing issues related to using maps instead of structs: http

[2020-11-06 13:17] bartekn opened #3197 "Add `go-fuzz` fuzzing functions to ingestion processors"
Add `go-fuzz` fuzzing functions to ingestion processors

[2020-11-06 17:30] ire-and-curses commented on #3188
@nagarwa2 does increasing your timebounds solve the problem for you?

[2020-11-06 21:04] leighmcculloch commented on #1782
@debnil Was this completed in #2595?

[2020-11-06 21:05] leighmcculloch commented on #1782
Looks like it, I'll close it.

[2020-11-06 21:05] #1782 closed

[2020-11-06 21:06] leighmcculloch commented on #1758
@howardtw @shanzzam @accordeiro This is something I think we'd want to do if we were going to use keystore, but given that we aren't using keystore we should probably close it. What do you think?

[2020-11-06 21:14] howardtw commented on #1758
Yep I agree that we probably shouldn't spend time on Keystore until we find an increasing adoption of it by wallets out there. 👍

[2020-11-06 21:18] #1758 closed

[2020-11-06 21:58] #1783 closed

[2020-11-06 21:58] #1784 closed

[2020-11-06 21:58] #1790 closed

[2020-11-09 11:06] bartekn opened #3200 "Helper for more complicated shutdown dependencies"
@tamirms:

_Originally posted by @tamirms in https://github.com/stellar/go/pull/3187#discussion_r517981515_

@bartekn

To elaborate, I think a helper that maintains a dependency graph of services that can be shutdown (and in which order) will be helpful in Horizon.

[2020-11-09 18:59] #3132 closed

[2020-11-09 18:59] #3158 closed

[2020-11-09 19:57] #2669 closed

[2020-11-10 08:05] aanupam23 opened #3202 "module .. does not contain package github.com/stellar/go/clients/txnbuild"
### What version are you using?
v0.0.0-20201109195737-ef1e30d4691b

### What did you do?
There is an incorrect installation command in txnbuild README.md which specifies Installation instruction as
[code]

The above command is incorrect since txnbuild is not part of client directory. If the above command is used, the below error message will be displayed
[code]

This should be
[code]

### What did

[2020-11-10 16:37] leighmcculloch commented on #2063
To my knowledge these tests haven't flaked since this issue was opened, or since logs were added in #2064. The logs are there to help us fix the issue if or when it happens again. I'll close this issue now. It can be reopened or a new issue created if this test flakes again.

[2020-11-10 17:43] bartekn opened #3204 "Create Horizon Captive-Core migration guide"

[2020-11-10 17:48] bartekn opened #3205 "Create captive-core docs/explainers"

[2020-11-10 17:57] bartekn opened #3206 "Add `last_ledger_closed_ago_seconds` to metrics and root endpoint"
`core_latest_ledger - history_latest_ledger` doesn't always determine if Horizon is fully sync with the network. It's possible that underlying Core instance is behind or stuck. A new metric with a number of seconds since last known ledger close time would better explain this.

[2020-11-10 18:45] leighmcculloch commented on #3202
Thanks @aanupam23. I am correcting the installation instructions in #3207.

[2020-11-10 20:31] #3202 closed

[2020-11-10 22:04] larsloser86 opened #3208 "Wrong Content-Type: application/hal+json while using streams (Eventsource)"
The following '(var es = server.tradeAggregation(base, counter, startTime, endTime, resolution, offset).cursor("now")
  .stream({ onmessage: callback }) ) results in a 406 error because the response content-type is application/hal+json. Eventsource specifies the the text/event-stream.

"version": "6.0.0",

Steps to reproduce the behavior:

var StellarSdk = require("stellar-sdk");
var server = new

[2020-11-10 22:40] bartekn opened #3210 "Add --stale-threshold-seconds option to Horizon"
There are one possible security issue connected to running Horizon with Captive-Core: ~no hash validation until Stellar-Core is sync with the network (obtained latest SCP messages from it's quorum)~ (see comments below). Because of the fact that Stellar-Core process is started when Horizon is started (doesn't run all the time as in the current ledger backend) it means that while catching up it's p

[2020-11-10 22:44] bartekn opened #3211 "Research generating stellar-core.cfg in Captive-Core online mode"
It may be possible to generate Stellar-Core config as we [do in the offline mode](https://github.com/stellar/go/blob/507901ae6f7069a17f23f9c18d557a918d5e5732/ingest/ledgerbackend/stellar_core_runner.go#L90) since we Captive Core mode runs in memory. We need to ensure if there aren't any other config values users may want to change. At the same time we should require providing quorum slices for the

[2020-11-10 22:47] bartekn opened #3212 "[SDF] Start another ingesting instance in captive-core cluster using captivecore wrapper"
Work with the ops team to create another ingesting instance in a new captive-core cluster in stg environment. A new ingesting Horizon instance should connect to another server where [`captivecore`](https://github.com/stellar/go/tree/master/exp/services/captivecore) is installed and listening. This will allow us to understand pros and cons of both options and decide what we should run in production

[2020-11-10 22:59] bartekn commented on #3210
I think it makes a lot of sense also in `POST /transactions` context. In https://github.com/stellar/go/issues/2727 we decided the following regarding transaction submission:

However, since https://github.com/stellar/go/pull/2805 https://github.com/stellar/go/pull/2877 this makes less sense because for 1. we don't rely on Stellar-Core DB to update the tx status, for 2. captive core can be behind s

[2020-11-10 23:55] bartekn commented on #3209
I think you get this error because `/trade_aggregations` doesn't support streaming.

[2020-11-10 23:55] #3209 closed

[2020-11-11 02:46] TianXingChu commented on #921
@bartekn Hello. Is there any progress or plan to resolve this problem? It really make us confusing to track account asset balance. T_T

[2020-11-11 06:29] larsloser86 commented on #3209
After calling tradeAggregation(...) you will receive an
object TradeAggregationCallBuilder (in javascript api). In
TradeAggregationCallBuilder there is a function stream(...) to stream those
data. Wouldn't make sense not to support this. And if not, why? See here:
https://stellar.github.io/js-stellar-sdk/TradeAggregationCallBuilder.html

Also it is used on the website tutorials:

[image: image.png

[2020-11-11 13:41] 2opremio commented on #1394
I _think_ we can close this. @ire-and-curses please reopen if you disagree.

[2020-11-11 13:42] 2opremio commented on #2611
@tamirms are you still working on this? I will also assign myself since I already did some testing.

[2020-11-11 14:14] tamirms commented on #2611
@2opremio sounds good, I haven’t started on this yet

[2020-11-11 14:49] 2opremio opened #3217 "Captive Core leaks zombie gzip and curl processes"
After running `stellar/horizon:2cfb2670c` with captive core for about a day in a local kubernetes cluster, I noticed that a bunch of processes were unreaped:

[code]

[code]

This is what I think happened:

1. Core (for whatever reason, maybe a crash) failed to wait for the `curl`/`gzip` processes before exiting, orphaning them
2. Since `horizon` is the init process, it inherits the orphaned proce

[2020-11-11 15:29] 2opremio commented on #3217
CC @graydon

[2020-11-11 17:33] 2opremio commented on #2611
While running  `stellar/horizon:2cfb2670c` connected to testnet on local kubernetes Cluster, I killed the Captive Core repeatedly.

When killed with `SIGKILL` Captive Core left zombie processes, which Horizon (working as init) didn't reap (see #3217 ) however Horizon always recovered.

On average, I estimate Horizon took around ~60 seconds to re-start ingestion (since captive core starts streaming

[2020-11-11 17:53] abuiles commented on #3209
@larsloser86 the JS library has a base builder which includes the method to stream from the end-point if it supports streaming. So while you'll see the method there it doesn't necessarily mean it will work (since the end-point might not support streaming)

[2020-11-11 19:05] #3176 closed

[2020-11-11 21:28] alexqrid opened #3218 "Horizon ingestion does not work v1.11.1"
### What version are you using?
horizon: 1.11.1
Go: 1.14.1.
"horizon_version": "v1.11.1",
"core_version": "v15.0.0",
"ingest_latest_ledger": 32555748,
"history_latest_ledger": 32555967,
"history_elder_ledger": 31755438,
"core_latest_ledger": 32556031,
"network_passphrase": "Public Global Stellar Network ; September 2015",
"current_protocol_version": 13,
"core_supported_protocol_version": 15

### W

[2020-11-11 21:33] alexqrid commented on #3218
"horizon_version": "v1.11.1",
  "core_version": "v15.0.0",
  "ingest_latest_ledger": 32555748,
  "history_latest_ledger": 32555967,
  "history_elder_ledger": 31755438,
  "core_latest_ledger": 32556031,
  "network_passphrase": "Public Global Stellar Network ; September 2015",
  "current_protocol_version": 13,
  "core_supported_protocol_version": 15

[2020-11-11 22:37] Shaptic opened #3219 "Enumerate & Test the potential fast tx-meta and captive core configurations."
In #3112, we have the following sub-task:
 - Different possible configurations are enumerated and tested for bugs.

This issue exists to fulfill the "enumeration" aspect of this task. **It's intended to be deeply collaborative** (since I don't have nearly as much context as anyone else), so please edit it freely to expand it with the various configurations you know more about. It also should serve

[2020-11-12 10:20] bartekn commented on #3218
We upgraded Horizon ingestion version in https://github.com/stellar/go/releases/tag/horizon-v1.10.0. This means that if you are upgrading from version before v1.10.0 state would need to be rebuilt and it can take around 15 minutes. We will make sure that we better explain this in Horizon release notes.

[2020-11-12 10:20] #3218 closed

[2020-11-12 18:03] bartekn commented on #3210
OK, this statement is not true. Stellar-Core actually verifies hashes with SCP **before** it starts streaming data.

[2020-11-12 18:26] #3195 closed

[2020-11-12 21:16] ire-and-curses commented on #1394
What I want is a worked example of how to use the ingestion library to dump to stdout. Basically, how do I make a tool that can be composed with other unix command line tools. Do we have that?

[2020-11-12 23:35] graydon commented on #3217
Huh. I thought I commented on this the other day but it seems like not.

I'm happy to modify core to be more robust about reaping subprocesses when it's forcefully shut down: have added code to do so over here in https://github.com/stellar/stellar-core/pull/2801.

But I think you might also want to run with an init anyways, in case horizon crashes and fails to reap core.

(I also feel a _little_ w

[2020-11-13 12:14] tamirms commented on #3172
**before** stellar core starts streaming tx meta it will validate the ledger chain from consensus all the way back to the start ledger hash. In other words, `stellar core run` should never emit untrusted ledgers no matter what start ledger hash you provide. So if the ledger hash provided by the history archives is corrupt, the worst impact it will have on horizon is that ingestion will be blocked

[2020-11-13 21:59] #3172 closed

[2020-11-17 19:21] 2opremio opened #3228 "Reliability issues in remote-core http server"
While chaos-monkey-testing captive-core in the remote http configuration I killed the core child process to simulate a crash.

Instead of respawning the core process, the captive core http server:

1. Panicked due to the channel double-close (See backlog at the end of the description)
2. Got stuck, which is more worrisome. Instead of dying, the captive core server process lingered, not giving an o

[2020-11-17 19:23] bartekn commented on #3228
Can you try it again on `master` or `release-horizon-v1.12.0`? I believe I fixed it in: https://github.com/stellar/go/pull/3213.

[2020-11-17 19:26] 2opremio commented on #2611
I have tested multiple concurrent ingestors and they seem to work fine when one of them is killed.

I have also tested killing the core process while managing in with the captive core remote http server. I have created #3228 with the issues I found.

[2020-11-17 19:26] #2611 closed

[2020-11-17 19:43] 2opremio commented on #3228
Uhm, unfortunately remote-captive-core seems to be broken in master (b36146208).

I will create a separate ticket for that.

[2020-11-17 19:48] 2opremio opened #3229 "Logs in the remote captive-core server are unreadable"
The core logs in the captive-core remote http server wrapper are unreable (at least if there is an initialization error).

Many core lines are merged into a single line, making it extremely hard to read. I suspect it's a bug in the implementation of #3189

[code]

[2020-11-17 20:05] 2opremio opened #3230 "Remote captive core fails to start"
While trying to retest #3228 with master ( b361462 ) I noticed that prepare-range doesn't work anymore.

I noticed it when using the remote captive-core http server.

After some binary testing, I have found that the culprit is at e7cf49028ba

To reproduce, you can run https://github.com/stellar/kube/tree/master/local/horizon-captive-core with the following patch (although I guess it also affects l

[2020-11-17 20:06] 2opremio commented on #3228
Done: #3230

[2020-11-17 21:15] bartekn commented on #3230
@2opremio possibly fixed in #3231.

[2020-11-17 21:49] Shaptic commented on #3229
Can you provide a little more context on the configuration? I followed [these](https://github.com/stellar/kube/tree/master/local/horizon-captive-core) deployment instructions and I get this for the same command:

[code]

One thing that stands out is the fact that it doesn't seem like I have the Go-formatted Horizon logs at all; these appear to be pure Core logs. How can I cause/force an initializa

[2020-11-18 16:57] tamirms commented on #3211
In addition to quorum slices we should also allow configuring the http port for captive core

[2020-11-18 17:42] 2opremio commented on #3230
I can confirm it's fixed

[2020-11-18 17:42] #3230 closed

[2020-11-18 17:44] #3229 closed

[2020-11-18 17:44] #3228 closed

[2020-11-18 17:46] 2opremio commented on #3212
As a reference, I implemented this in https://github.com/stellar/kube/pull/399

[2020-11-18 19:22] 2opremio opened #3233 "Consider logging HTTP requests to the remote captive core API"
While testing https://github.com/stellar/go/issues/2611 with a remote captive core, I have noticed that Horizon doesn't log the http requests to the remote captive core API.

I think we should consider logging them. It may be that we are already logging them in debug level, in which case we should probably consider raising the level to info.

[2020-11-18 19:24] 2opremio opened #3234 "Make sure we back-off when accessing the Core and remote Captive-core API"
While retesting https://github.com/stellar/go/issues/2611 using the remote captive core I have noticed that, if I kill the captive-core process

1. Horizon _hammers_ the core API with requests to the info endpoint.
2. I haven't confirmed (it seems Horizon doesn't log the requests, see https://github.com/stellar/go/issues/3233) but that may also be the case when accessing captive core remote API.

[2020-11-19 23:54] nullstyle commented on #3152
Ping.  Correct me if I'm wrong but you guys have done the v5 release, right?    This fix doesn't seem to have gotten in.  Could someone from the SDF clarify what you guys are expecting from me with regards to closing this issue?  Who is deciding on what gets into the v6 release and whats the expected timeframe?

[2020-11-20 00:06] leighmcculloch opened #3235 "clients/stellartoml: parser has become brittle"
### What version are you using?

15de5ffd450223e1bc5abf80575d906dc2eabb6e

### What did you do?

I used the Stellar TOML client to retrieve stellar.toml's from a handful of domains.

### What did you expect to see?

I expected to see parsing to succeed.

### What did you see instead?

Some of the responses failed parsing because some of the bool fields are strings in anchor stellar.tomls. These tw

[2020-11-20 00:06] leighmcculloch commented on #3235
cc @stellar/integration @stellar/nebula

[2020-11-20 00:22] ire-and-curses commented on #3152
v5 got released in a hurry to handle breaking SEP changes. There isn't a timeframe for v6 yet. It is lower priority than other things we have to do (like getting the fast txmeta out the door by end of year). In the meantime I'd like to leave this open if that works for you.

[2020-11-20 01:00] nullstyle commented on #3152
word

[2020-11-20 10:29] bartekn opened #3238 "Check/update PreviousLedgerHash in CaptiveStellarCore.GetLedger"
Each `LedgerHeaderHistoryEntry` contains the current ledger hash (`Hash`) and previous ledger hash (`Header.PreviousLedgerHash`), this way ledgers form a chain. We should compare current ledger `PreviousLedgerHash` with the last processed ledger `Hash`. This can prevent some bugs in the future in which ledgers are processed out of order (and sequence number check fails).

[2020-11-20 10:45] bartekn opened #3239 "Add HTTP API version to captivecore and client"
It's possible that `captivecore` HTTP will change in the future and older version of clients will use it in a wrong (possibly insecure) way. I think it's worth adding a version of the API to server responses (maybe via headers) and check if the clients supports a given version.

[2020-11-20 16:58] howardtw opened #3240 "Response from assets endpoint doesn't include assets whose holders are UNAUTHORZIED or AUTHORIZED_TO_MAINTAIN_LIABILITIES"
### What version are you using?

This is the current Horizon behavior as of the issue opened date with the latest commit sha being [it](https://github.com/stellar/go/commit/15de5ffd450223e1bc5abf80575d906dc2eabb6e)

### What did you do?

Someone issued 100 OOO tokens from GAWAYMF36WZTCPOTNDM5M7DBQTFAJZCQYAPPV2THVEDXIBS2MB3RWZIA to [GDDCNH4CJ5UP56VLV6AANKAII6V3CU3FRURCWWO2CAYMIT5Q5YFCXLWI](https://

[2020-11-20 18:03] howardtw commented on #3240
@tamirms after some further experiments, I think they are recorded in the Horizon DB, but the endpoint just simply doesn't count the assets in the accounts where the authorization flag is set to either `UNAUTHORZIED` or `AUTHORIZED_TO_MAINTAIN_LIABILITIES`.

Example:
I issued 150 `XXX` from `GBHNRQGRM2QJU5PGEILXDXOOWNQ7NCUOQJOIBXQR5TQ4UUPRNCHUN6B7` to `GCPEONTZCDJ4WN2HMMN7QSHNACKTIMUVILCX4BTSFZ2RB

[2020-11-20 19:43] howardtw opened #3241 "Feature Request: improve the assets endpoint"
### What problem does your feature solve?

For regulated assets, the issuers often want to track the assets the've issued/distributed. However, regulated asset holders will have their account set to `UNAUTHORZIED` or `AUTHORIZED_TO_MAINTAIN_LIABILITIES` when they are not transacting the asset. And it seems like the assets endpoint doesn't return the assets in accounts with the flag to those two va

[2020-11-20 20:55] howardtw commented on #3240
A quote from @tamirms
[code]
For anyone who will be looking into it.

[2020-11-23 14:59] 2opremio opened #3244 "Order output of /paths endpoints"
While running horizon-cmp for the the 1.12 release, I noticed differences in the `/paths/strict-receive` and `/paths/strict-send`, for instance:

[code]

We should order the output to make it stable and avoid false positives in horizon-cmp

[2020-11-23 17:01] bartekn opened #3246 "Batch remove offers in OffersProcessor"
### What version are you using?

1.11.1

### What did you do?

Processor durations stats added in https://github.com/stellar/go/pull/3224 revealed that `OffersProcessor` (green line) is much slower than other processors:

<img width="855" alt="Screenshot 2020-11-23 at 17 55 38" src="https://user-images.githubusercontent.com/464938/99991257-19cb0c80-2db5-11eb-9985-29c32052548b.png">

Comparing this

[2020-11-23 19:47] bartekn commented on #3178
Additionally, let's improve timer. We should start a timer (`startTime := time.Now()`) just before creating a state reader.

[2020-11-24 12:21] bartekn opened #3247 "Make sure links in error responses are working"
### What version are you using?

1.11.1

### What did you do?

Go to state endpoint while state ingestion is in progress. `Still Ingesting` error will be returned with the following URL: https://stellar.org/horizon-errors/still_ingesting.

### What did you expect to see?

URL working.

### What did you see instead?

Not found error.

[2020-11-24 12:29] bartekn opened #3248 "Add testnet/pubnet sync, catchup (BoundedRange) and reingest integration tests"
Add integration tests that sync with the network: build state and ingest a few ledgers. This will help ensure that Horizon is able to sync and catch bugs like https://github.com/stellar/go/pull/3231 before release testing.

[2020-11-24 15:26] #3246 closed

[2020-11-25 13:25] bartekn opened #3252 "Detecting if Horizon is in sync with the network"
Opening this issue to discuss possible ways to detect if Horizon (and connected Stellar-Core) is in sync with the network. This important because we may block access to Horizon if data is stale and we probably want to block access to txsub in this case because all attempts to submit a transaction would fail with `Timeout` errors. Additionally, a number of ledgers to ingest can be very useful metri

[2020-11-25 13:36] bartekn opened #3254 "Move/remove root endpoint fields that depend on running Stellar-Core instance"
The following fields in the root endpoint are updated by accessing Stellar-Core's `/info` endpoint that may not be available in captive core deployments (ex. from non-ingesting instances):
* `core_version`
* `core_latest_ledger`
* `core_supported_protocol_version`

Let's discuss if we want to move them to metrics (updated from ingesting instances) or remove completely.

[2020-11-25 15:11] 2opremio commented on #3211
And in addition, the user may want to tweak the database backend.

On top of that, for things like testing we want to tweak the core configuration (e.g. `MANUAL_CLOSE`).

[2020-11-25 15:23] tamirms commented on #3211
I thought for our use case there is no database backend. captive core will always stream ledgers in memory because we are passing the `--in-memory` flag to the stellar core binary.

[2020-11-25 15:29] 2opremio commented on #3211
My initial design for this is:

* Replace `--stellar-core-config-path` by `--stellar-captive-core-quorum-path` which would point to a file with `[QUORUM_SET]` entries
* Add `--stellar-captive-core-http-port` which:
  * Defaults to `11626`
  * Disables the http port if set to `0` (just like it works in the core config file)
* If `--stellar-core-url` is not explicitly set, but `--enable-captive-core

[2020-11-25 16:25] tamirms commented on #3252
I just tested the behavior of the http endpoint in captive core. As @bartekn mentioned, when horizon's buffer reaches its capacity of 20 ledgers, captive core will pause streaming ledgers. I discovered that while captive core is paused, it does not accept any http requests. That means the http endpoint will not be available when horizon's ledger buffer is full.

[2020-11-25 19:01] #3178 closed

[2020-11-25 21:36] bartekn commented on #3211
I think it looks good, we can always tweak config options before an RC.

I think one advantage we're missing is that by generating a file we remove the possibility of users making some big mistake in a configuration. We also prevent having to test Horizon with huge config matrix to ensure it works with all the options settable  in stellar-core.cfg that can affect the integration.

We can always ad

[2020-11-26 10:06] bartekn commented on #3246
2x improvement!

<img width="841" alt="Screenshot 2020-11-26 at 11 03 35" src="https://user-images.githubusercontent.com/464938/100336935-0b5c3b00-2fd7-11eb-8297-47af0ee444f1.png">

[2020-11-26 15:05] bartekn opened #3256 "Debug TransactionProcessor performance"
Similar to #3246 (with #3224) I realized that `TransactionProcessor` is slower than it should be:

<img width="856" alt="Screenshot 2020-11-26 at 16 04 08" src="https://user-images.githubusercontent.com/464938/100366355-06ac7c80-3001-11eb-8636-2182b5960e13.png">

Compared to `OperationProcessor` (yellow line), which inserts much more rows, it can be 3x slower. We should debug it and understand whe

[2020-11-27 16:06] bartekn commented on #3256
Accidentally closed in https://github.com/stellar/go/pull/3257 that should close https://github.com/stellar/go/issues/3238. Reopening.

[2020-11-27 16:06] bartekn commented on #3238
Closed in https://github.com/stellar/go/issues/3238.

[2020-11-27 16:06] #3238 closed

[2020-11-30 18:02] ire-and-curses commented on #3254
Seems valuable to have them visible from non-ingesting instances for clients/operators. Is there any downside to moving them to metrics?

[2020-11-30 18:06] bartekn commented on #3254
Not sure if clients needs to know the fields listed in the first post.

I don't think so, it's actually quite easy given we already export horizon version via /metrics.

[2020-11-30 19:07] ire-and-curses commented on #3254
I think it's valuable because clients can potentially proxy the info downstream. E.g. a network monitoring tool could identify out of date installations.

Since it's also easy I am in favour of doing this.

[2020-11-30 22:49] leighmcculloch commented on #3197
I think this looks good. I think if we find rough edges about this approach we can adjust or change the approach as we add more.

A concern I have is whether these functions will show up in GoDoc. Ideally they'd live in the same package, but if they show up in GoDoc we won't be able to easily apply this pattern to packages intended for importing.

[2020-11-30 23:04] ire-and-curses commented on #3246
Wow, super cool!

[2020-12-01 16:44] ire-and-curses opened #3261 "Should Horizon return explicit opcodes?"
In https://github.com/stellar/docs/issues/507, docs were improved to allow callers to search for the original Stellar Core errors associated with transactions and operations.

This raised the question: why do we return generic error codes across operations? Does the abstraction help or hinder comprehension by the caller?

If the caller needs to track the context and choose specific follow up actio

[2020-12-01 16:46] bartekn commented on #3200
I checked if any of existing packages implement something like this and I came across [`tomb`](https://godoc.org/gopkg.in/tomb.v2). It's much simpler that what I was thinking about, for example no dependency graph but maybe it's actually better - we can create a graph implicitly (by using `tomb` within struct that starts go routines) rather than explicitly (by creating a graph struct with all depe

[2020-12-02 09:47] bartekn commented on #2975
Woohoo, S3 is now [strongly consistent](https://aws.amazon.com/blogs/aws/amazon-s3-update-strong-read-after-write-consistency/)!

[2020-12-02 10:01] bartekn commented on #3261
I'd vote for doing this. Making sure generic codes are up to date is a hassle even though we update it during protocol upgrades only. Also, we don't have a good docs for generic codes while we have them for core errors: https://developers.stellar.org/docs/start/list-of-operations/.

[2020-12-02 13:41] bartekn opened #3263 "[SDF] Create more captive instances and start mirroring"
Work with ops team to create more frontend instances (to match prd cluster) and start traffic mirroring.

[2020-12-02 17:47] ire-and-curses commented on #3261
our current docs are here: https://developers.stellar.org/api/errors/result-codes/transactions/

I think they aren't bad.

[2020-12-02 17:48] bartekn commented on #3261
Oh, that's great. I forgot that we have a new docs. I was referring to the old version that did not have detailed error descriptions.

[2020-12-04 18:19] #3211 closed

[2020-12-07 10:40] bartekn commented on #3217
I'm not 100% sure if the problem you (@2opremio) are describing here is zombie processes when Horizon exits or when Stellar-Core subprocess exit (and then Horizon potentially starting another subprocess). In the former case, I believe this should be fixed by #3258 + #3266. The problem is that we did not have a proper code for user-initiated shutdown and we did not call `LedgerBackend.Close()` on H

[2020-12-07 10:41] bartekn commented on #3212
I'm meeting with @brahman81 today to discuss another thing so we can talk about this quickly.

[2020-12-07 10:42] bartekn commented on #3263
I'm meeting with @brahman81 today to discuss another thing so we can talk about this quickly.

[2020-12-07 14:28] 2opremio commented on #3217
It's the latter, those are processes left by Core. AFAIU if/when Horizon exits the container stops since the the command specified in the container's spec ended.

[2020-12-07 16:15] bartekn commented on #3248
To clarify, I think we should test 3 things:
1. starting from scratch to check if horizon can build state without a problems + a few ledgers,
2. starting from existing DB (`start` -> `resume` transition in FSM scenario). this would catch https://github.com/stellar/go/pull/3231,
3. `horizon db reingest` so we are sure that reingesting works (I believe it doesn’t in the latest version because of htt

[2020-12-07 21:39] 2opremio opened #3268 "Integration tests don't cleanup their Postgres databases"
While writing https://github.com/stellar/go/pull/3267 I found out that the integration tests are not dropping their dedicated Horizon Postgres database.

I tried fixing it (look at the TODOs in the code from the PR above) but it turns out that Horizon's `App` leaves open sessions behind .... even after closing it (leading to `database  is being accessed by other users` errors).

This may indicate

[2020-12-07 22:04] bartekn commented on #3248
@2opremio @tamirms you asked why we should do testnet/pubnet tests and I answered that I was probably wrong and standalone should work too. That's true but what is the status of captive core tests in standalone? I'm looking at #3267 and realized that it wouldn't catch #3231 or #3260 because both issues were connected to captive core.

[2020-12-07 22:20] 2opremio commented on #3248
Note that as soon as the integration tests can be run with captive core (which is almost there, I think) the tests at #3267 will be run with captive core too.

[2020-12-07 22:21] bartekn commented on #3248
OK! I just wanted to confirm we'll be able to have them before beta. If not, it would be great to have testnet/pubnet tests.

[2020-12-08 12:03] #3248 closed

[2020-12-08 14:35] bartekn commented on #3217
If it's not a Horizon issue can we close it / move to Stellar-Core repo?

[2020-12-08 15:34] 2opremio commented on #3217
It's an issue with respect to how we containerize Horizon. Orphan children are unavoidable (you can always cause them by `kill -9`'ing the parent of the process) but it's up to us to containerize Horizon in a way in which init reaps them instead of causing zombie processes.

[2020-12-08 15:35] 2opremio commented on #3217
(To be clear, It may be that Core can do better to reduce the number of orphans caused but it's always possible to cause them regardless of what Core does)

[2020-12-08 17:43] howardtw commented on #42
@ire-and-curses is this still relevant? It was assigned to me a long time ago.

[2020-12-08 17:44] howardtw commented on #51
@ire-and-curses is this still relevant? It was assigned to me a long time ago.

[2020-12-08 17:55] #51 closed

[2020-12-08 23:15] rokopt opened #3274 "Feature Request: Stellar Playground Horizon MVP"
There have been several discussions across teams over the past couple of years about a possible web-based Stellar development sandbox, which we've dubbed the Stellar Playground.  Core issue https://github.com/stellar/stellar-core/issues/2695 tracks the past conversations and our current vision of what it might be.  (We've also had some design conversations in a Google Doc.)

We're planning to clos

[2020-12-09 14:50] RASTecnoTI opened #3276 "Memo API information is wrong"
Hi
I have getting the transaction information from API and the memo filed is incorrect.

Take a look on this transaction https://stellar.expert/explorer/public/tx/b234465ca28cf95d00ab521cbc2a912b17360ca76725b3794272af6ff46ce808 and the memo informed is G174P371304

Look on API results the memo value is wrong
{"id":"141581101536829441","paging_token":"141581101536829441","optype":1,"**memo":1442733

[2020-12-09 15:55] #3276 closed

[2020-12-09 19:13] RASTecnoTI commented on #3276
https://api.stellar.expert/api/explorer/public/payments?account=GDDTZNNH7BXXWVKVM4VMYDIYGHJ7SWEB3QQ3IJPIVHCSNTL7A7GDITRG&limit=200&order=desc

Sorry, this is the command where I get the payments

[2020-12-09 19:14] RASTecnoTI commented on #3276
https://api.stellar.expert/api/explorer/public/payments?account=GDDTZNNH7BXXWVKVM4VMYDIYGHJ7SWEB3QQ3IJPIVHCSNTL7A7GDITRG&limit=200&order=desc

[2020-12-09 19:58] ire-and-curses commented on #3276
This is a stellar expert API, which isn't maintained by SDF. You can raise your issue here:

https://github.com/orbitlens/stellar-expert-explorer/issues/

[2020-12-14 12:31] bartekn opened #3279 "Change default backend in Horizon 2.0.0 Beta to Captive Core"
Change default backend from `DatabaseBackend` to `CaptiveStellarCore`. Allow switching to `DatabaseBackend` by creating a new feature flag.

[2020-12-16 11:12] bartekn commented on #3279
Closed in https://github.com/stellar/go/pull/3282.

[2020-12-16 11:12] #3279 closed

[2020-12-16 21:22] #3206 closed

[2020-12-17 17:42] bartekn commented on #3200
We just merged another approach here: https://github.com/stellar/go/pull/3278. Closing for now, will reopen if/when we want to revise the solution.

[2020-12-17 17:42] #3200 closed

[2020-12-17 19:32] Shaptic opened #3290 "services/horizon: Default --stellar-core-binary-path=stellar-core if it exists in $PATH."
### What problem does your feature solve?
Filling out parameters is :sleeping: :zzz:

### What would you like to see?
Sane defaults! It should be trivial to infer the stellar-core binary path if it exists in the environment `PATH`.

I already do `--stellar-core-binary-path=$(which stellar-core)` sometimes and shouldn't need to.

[2020-12-18 16:25] bartekn opened #3293 "Check if Horizon works properly when compiled using Go 1.16"
We should check if it works fine. There were some changes related to CGO. We probably (no longer) use it but better check. Also check if building artifacts works on buster.

[2020-12-18 18:21] leighmcculloch commented on #3293
I believe @stellar/ops-team expressed some concern not with building with Go 1.16, but building the release artifacts .deb files on a version of Debian newer than Stretch. I'm not familiar with the details, but this testing should include testing that the release artifacts built with Debian Buster are in good working order.

[2020-12-18 18:21] tamirms opened #3294 "CaptiveStellarCore differs from DatabaseBackend on certain BoundedRange inputs"
We have two implementations of the `LedgerBackend` interface: `DatabaseBackend` which streams ledgers from Stellar Core's postgres database and `CaptiveStellarCore` which streams ledgers directly in-memory from a Stellar Core subprocess.

When consuming a fixed range of ledgers (e.g. `BoundedRange`) `DatabaseBackend` has no limitations as long as the ledgers are present in Stellar Core's postgres

[2020-12-18 18:32] tamirms opened #3295 "Consider moving optional context out of CaptiveCoreConfig and make it a parameter of PrepareRange"
In https://github.com/stellar/go/pull/3278 `CaptiveCoreConfig` was extended to include an optional context field. The context in `CaptiveCoreConfig` acts as a parent context for all `PrepareRange()` sessions. In other words, if the parent context is cancelled then, any pending `PrepareRange()` / `GetLedger()` operation will be terminated even though `Close()` was not called.

In the PR @2opremio m

[2020-12-18 18:42] tamirms commented on #3153
fixed by https://github.com/stellar/go/pull/3291

[2020-12-18 18:42] #3153 closed

[2020-12-19 01:04] leighmcculloch opened #3331 "exp/services/recoverysigner: remove urlencoded form decoding from requests"
### What
Remove urlencoded form decoding from requests.

### Why
It is being removed from SEP-30: https://github.com/stellar/stellar-protocol/pull/800.

[2020-12-21 21:16] bartekn opened #3301 "Remove xff middleware"
[`xff`](https://github.com/stellar/go/blob/013bf861cb0f060be1e2c1b0fdf4cb12a00d6b9d/services/horizon/internal/httpx/router.go#L79) middleware replaces the `RemoteAddr` but doesn't work correctly in ELB which appends client IP to `X-Forwarder-For` (instead of prepending as most proxies do). We should create a new middleware with an option to overwrite `RemoteAddr` with first/last IP in `X-Forwarder

[2020-12-21 22:08] Shaptic commented on #3205
Closed with #3285. If we want more doc improvements we should open new, more-specific issues.

[2020-12-21 22:08] #3205 closed

[2020-12-21 22:08] Shaptic commented on #3204
Closed alongside #3205 with PR #3285.

[2020-12-21 22:08] #3204 closed

[2020-12-21 23:52] Shaptic opened #3303 "Auto-generate Horizon's Captive Core config file when doing ingestion."
Per [this comment](https://github.com/stellar/go/pull/3283#discussion_r545917924_), we should not require the `--captive-core-config-append-path` parameter when doing reingestion, but we do.

Reproducing this behavior is easy. Given a valid Horizon w/ Captive Core configuration (sans the config stub),

[code]

Reingestion doesn't work:

[code]

[2020-12-22 00:23] Shaptic commented on #3303
Ah, this occurs because specifying `INGEST=true` indicates a **live** ingestion to Horizon, which isn't the same thing as reingestion. This is a non-issue, then, but perhaps it's worth discussing ignoring the parameters we don't use in a given sub-command?

[2020-12-22 02:59] leighmcculloch opened #3305 "Feature Request: Expose the transaction and operation(s) that created the claimable balance"
### What problem does your feature solve?

There is no effecient method for a receiver (claimant) to identify the sender of a [two-part payment](https://github.com/stellar/stellar-protocol/blob/master/core/cap-0023.md), i.e. the creator of a claimable balance, or the memo of the transaction that created it.

It's possible to discover the sender by getting the ledger ID that the claimable balance w

[2020-12-22 03:33] leighmcculloch opened #3306 "Feature Request: Support querying claimable balances by creating account"
### What problem does your feature solve?

There is no effecient method for the sender of a [two-part payment](https://github.com/stellar/stellar-protocol/blob/master/core/cap-0023.md), i.e. the creator of a claimable balance, to identify unclaimed claimable balances they created.

It's possible to filter claimable balances by the sponsor field, and that field is set to the account that created th

[2020-12-23 16:47] bartekn commented on #3256
The slowness is connected to marshaling and then encoding to base64 of some transaction related XDR objects. Nothing can be done here except making XDR encoder faster which is already tracked in https://github.com/stellar/go/issues/2689.

<img width="896" alt="Screenshot 2020-12-23 at 17 46 36" src="https://user-images.githubusercontent.com/464938/103019262-d0521680-4546-11eb-83f2-1e18a15c8a04.png

[2020-12-23 16:47] #3256 closed

[2020-12-25 04:23] somnusx commented on #64
对我也有用

[2021-01-07 09:21] alexey-voren opened #3315 "Horizon DB size"
I have a node with the config below:
[code]
But horizon db size is rapidly growing, even after manually `horizon db reap`
[code]

[2021-01-07 12:16] bartekn opened #3316 "Invalid fee_stats calculations when fee_bump transaction is included in the ledger"
### What version are you using?

1.13.0

### What did you do?

@jonjove noticed that fee stats for pubnet sometimes show 10 stroops min fee.

<img width="456" alt="Screen Shot 2021-01-06 at 10 10 13 AM" src="https://user-images.githubusercontent.com/464938/103891507-41b6cb00-50ea-11eb-865d-5106c34a5992.png">

After quick debugging session we discovered that when fee bump transaction is submitted t

[2021-01-07 12:25] bartekn commented on #3315
The behaviour you describe is by design in Postgres DB. Deleting rows in Postgres does not reclaim disk space. You need to run `VACUUM` to allow reusing the space or `VACUUM FULL` to rewrite the DB to reclaim disk space. More info here: https://www.postgresql.org/docs/9.1/sql-vacuum.html

[2021-01-07 12:25] #3315 closed

[2021-01-07 14:16] bartekn opened #3317 "[SDF] Start kubernetes worker to run horizon-cmp against captive-core cluster"
Before we start using captive-core in production environments (and after that as well) we should have a worker that runs `horizon-cmp history` comparing captive core cluster and database backend fallback cluster. This should be done to ensure that ingested history data is correct during live ingestion so we can fallback in case of emergency.

[2021-01-07 16:44] 2opremio commented on #42
`FetchCursor` doesn't exist anymore

[2021-01-07 16:44] #42 closed

[2021-01-07 16:47] 2opremio commented on #179
We implemented separate integration tests a while ago ( #2916 )

[2021-01-07 16:47] #179 closed

[2021-01-07 16:56] 2opremio commented on #249
@tomerweller I am considering to close this.

We are currently using https://staticcheck.io/  (i.e. `/staticcheck.sh` ) for which we explicitly mention what checks to apply. Isn't that good enough?

[2021-01-07 17:34] tomerweller commented on #249
That's quite the prehistorical issue :)
I don't have context anymore but sounds good @2opremio.

[2021-01-07 17:34] #249 closed

[2021-01-07 19:23] acharb opened #3319 "services/friendbot: log friendbot fund account requests ip addresses"
to see if a single user is making large requests. Will help with debugging and discovery of how friendbot is being used

[2021-01-07 21:26] gituser commented on #305
It seems this issue is still there.

It happens from time to time: usually when there are lots of transactions being made in Stellar network.

Happens on:

`stellar-core v15.1.0`
`horizon v1.13.0`

Not sure how to debug it.

[2021-01-07 23:46] ire-and-curses commented on #305
@gituser Note that it is normal and expected to receive 504 errors when the network is under heavy load, if your provided maximum fee is insufficient. Please confirm the hash of the failed transaction, the output of /fee_stats at the time, and the fee you used. If you still feel the behaviour is incorrect, please open a new issue and include all of that information and we can take a look.

[2021-01-08 00:23] gituser commented on #305
@ire-and-curses the thing is that transaction is being included in the ledger 30 seconds later after the request.

Is there any way to get optimal fee rate for current network condition?

I think I'm using standard stellar fee.

[2021-01-08 16:57] tamirms opened #3321 "Remove HistoryArchiveBackend"
The `LedgerBackend` interface has several implementations:

- `CaptiveStellarCore`
- `DatabaseBackend`
- `RemoteCaptiveStellarCore`
- `HistoryArchiveBackend`

`HistoryArchiveBackend` is not consistent with the other `LedgerBackend` implementations because it produces `xdr.LedgerCloseMeta` instances which **omit** tx meta. This is a strong indication that `HistoryArchiveBackend` is not suited for t

[2021-01-08 18:25] tamirms opened #3322 "Document how captive core can be used on stand-alone (aka private) Stellar networks"
There are two scenarios we should cover:

1. The private network consists of one or more Stellar Core validators. Captive core is a "watcher" node in the private network.
2. The private network consists of just a single captive core instance. In this case, the topology consists of just 1 horizon instance paired with 1 captive core instance and no other Stellar Core validators.

We have experience

[2021-01-08 21:30] ire-and-curses commented on #305
@gituser The general best practice is as follows:

1. Set a timebound for your transaction. This guarantees that after that time the transaction won't be accepted by the network. This protects you from e.g. sending a second duplicate payment.
2. Set an appropriate fee. If you like, you can get detailed information on the current necessary fees by querying the [fee_stats](https://horizon.stellar.or

[2021-01-09 15:54] 2opremio commented on #223
I think it's already there, reopen if you disagree:

[code]

[2021-01-09 15:54] #223 closed

[2021-01-09 15:55] 2opremio commented on #207
Is this about Horizon releases, or something else? I think Horizon releases are fine.

[2021-01-09 15:58] 2opremio commented on #485
Closing, since I think this no longer applies. Please reopen if you think otherwise.

[2021-01-09 15:58] #485 closed

[2021-01-09 16:30] 2opremio commented on #430
@bartekn do you know if this is still the case?

[2021-01-09 19:51] 2opremio commented on #545
Implemented in #697

[2021-01-09 19:51] #545 closed

[2021-01-09 19:54] 2opremio commented on #514
@istrau2 sorry for the unreasonably late response, did you manage to resolve this?

[2021-01-09 19:56] #558 closed

[2021-01-09 19:58] #570 closed

[2021-01-09 19:59] 2opremio commented on #595
I will close this since no further work seems to have been done in this regard. @tinco I will be happy to reopen it if you think otherwise.

[2021-01-09 19:59] #595 closed

[2021-01-09 20:27] 2opremio commented on #591
I think the formatting is correct, but we have since removed the JSON metrics endpoint (which is a prometheus endpoint) so we should update the documentation.

[2021-01-11 10:53] #591 closed

[2021-01-11 13:57] bartekn commented on #3316
Closed in https://github.com/stellar/go/pull/3326.

[2021-01-11 13:57] #3316 closed

[2021-01-11 18:40] leighmcculloch commented on #249
+1 I think closing this is the right call and we could use more features of staticcheck if we want to get more. gometalinter is no longer preferred tool and even vim-go has moved away from it to staticcheck recently.

[2021-01-11 21:38] JakeUrban opened #3334 "SEP-10 v3.1 Changes (from the SDF)"
## SEP-10 3.1 Support

### TL;DR

Implement the changes described the [SEP-10 3.1 commit](https://github.com/stellar/stellar-protocol/commit/6c8c9cf6685c85509835188a136ffb8cd6b9c11c).

This likely involves adding an optional argument to the SEP-10 utility functions for adding an additional Manage Data operation containing the domain of the SEP-10 server (`web_auth_domain`).

### Background & Descr

[2021-01-11 21:49] JakeUrban commented on #3334
https://github.com/stellar/stellar-protocol/pull/767

[2021-01-12 00:03] ire-and-curses commented on #207
I think this can be closed. We distribute Horizon through apt packages, Docker as well as Github source.

Please reopen if disagree.

[2021-01-12 17:36] 2opremio commented on #3293
In progress at https://github.com/stellar/go/pull/3288

[2021-01-12 17:39] 2opremio commented on #3128
@bartekn wasn't this resolved?

[2021-01-12 17:41] 2opremio commented on #1808
@tamirms could you retest the query?

[2021-01-12 17:42] 2opremio commented on #2975
@tamirms could you check whether the strong consistency of S3 resolves the problem?

[2021-01-12 17:50] 2opremio commented on #2187
This is already handled by #3110

[2021-01-12 17:50] #2187 closed

[2021-01-12 17:51] 2opremio commented on #2410
This has already been done

[2021-01-12 17:51] #2410 closed

[2021-01-12 17:58] 2opremio commented on #2674
@bartekn do you think this still applies, I recall the actions having a helper for this.

[2021-01-12 19:18] leighmcculloch commented on #207
I think the issue that Tomer is highlighting is that the GitHub releases page is messy and so discovering and finding binaries is difficult. I think this is still the case, and hasn't been resolved.

It's common to ship Go applications as single binaries, which we do via the GitHub releases page in addition to distribution methods @ire-and-curses mentioned.

Fixing GitHub's UI is probably not some

[2021-01-12 19:24] tomerweller opened #3338 "services/horizon/txsub - measure timeouts in ledgers instead of seconds"
### Background
- During surge pricing core will attempt to include a tx within a txset for up to 3 ledgers before banning it for 10.
- Horizon makes a best effort to offer a synchronous tx submission process on top of core's async tx submission. It does so by accepting a tx request via the `POST /transactions` endpoint, submitting it to core and waiting until that tx is ingested before returning a

[2021-01-13 09:18] tamirms commented on #2975
I will close the issue and reopen if the error occurs again

[2021-01-13 09:18] #2975 closed

[2021-01-13 13:46] tamirms opened #3340 "Feature Request: Add functionality to history archive client for fetching transactions"
Previously, we had a `HistoryArchiveBackend` implementation which used the history archives to fetch transactions belonging to a specific ledger. We decided to remove the implementation in https://github.com/stellar/go/issues/3321 because the transactions did not contain tx meta and that resulted in some inconsistencies with other `ingest.LedgerBackend` implementations.

However, the code to extra

[2021-01-13 14:28] #3321 closed

[2021-01-13 16:30] bartekn opened #3341 "Take effective number of operations in /fee_stats into account when fee_bump transaction in a ledger"
### What version are you using?

Horizon 1.13.1.

### What did you do?

As reported by @jonjove there's another issue in `/fee_stats` similar to https://github.com/stellar/go/issues/3316.

From [CAP-15](https://github.com/stellar/stellar-protocol/blob/master/core/cap-0015.md#fee-rate):

In the current query that calculates fee stats we don't take this into account, i.e. we divide the fee by number

[2021-01-13 19:23] Shaptic commented on #3110
With regards to the following item:

This may not be possible. Enumerating the approaches:

 - **making mocked objects private**: This involves hiding `MockChangeProcessor` and `MockChangeReader`. However, doing this results in the `horizon/internal/ingest` package breaking, since it also uses these mocked objects within its tests.
 - **move tests to a `testing` package**: This means moving the ab

[2021-01-14 16:01] bartekn opened #3344 "Add timeouts to all functions called from Tick()"
### What version are you using?

1.13.1

### What did you do?

We don't set timeouts in functions in `horizon.App.Tick()` so if the connection gets stuck for any reason it will block entire `Tick()` method forever. It will affect metrics, fee stats and all the components of the system that rely on ingestion/ledger related stats.

Thanks @jacekn for reporting this!

[2021-01-14 16:51] bartekn commented on #3344
Additionally check other places where this can cause issues.

[2021-01-14 17:06] 2opremio commented on #3344
Related https://github.com/stellar/go/issues/613

[2021-01-15 12:23] bartekn opened #3345 "Rewrite trade aggregations query to not use ARRAY"
### What version are you using?

1.13.1

### What did you do?

Sometimes trade aggregations request result in an error. Some of them can be found below:
[code]

It turns out that it's an issue in `llb/pq` postgres driver (repro script below). It can happen when two conditions are met:
* Context deadline is exceeded when query results are returned.
* An `ARRAY` is returned in result set.

In the lo

[2021-01-15 19:02] leighmcculloch commented on #3334
I plan to implement this in next sprint.

[2021-01-15 19:58] #3322 closed

[2021-01-16 10:33] 2opremio opened #3348 "Add support for Asset Clawbacks (CAP 35)"
https://github.com/stellar/stellar-protocol/blob/master/core/cap-0035.md

High priority tasks:
- [x] #3349 Update XDR definitions
- [x] #3350 Add support for `ClawbackOp`
- [x] #3351 Add support for account flag `AUTH_CLAWBACK_ENABLED_FLAG`
- [x] #3351 Add support for asset flag `CLAWBACK_ENABLED_FLAG`
- [x] Add support for the above in https://github.com/elucidsoft/dotnet-stellar-sdk ( @leighmccu

[2021-01-18 19:23] JakeUrban opened #3355 "Feature Request: add transaction memo's to /payments response"
### What problem does your feature solve?

Transaction `memo`'s are used to identify transactions in various SEPs (6, 24, 31), but the `/payments` endpoint does not include this attribute in its response, leading us (the integration team) to recommend using the `/accounts/{account}/transactions` endpoint instead.

### What would you like to see?

Adding a transaction's `memo` to it's associated `/

[2021-01-18 19:57] bartekn commented on #3355
There is `join=transactions` GET parameter you can add to `/accounts/{account}/payments` that will fetch tx details under payment resource. Does it solve the problem for you?

[2021-01-18 20:25] JakeUrban commented on #3355
Yes it does, thanks

[2021-01-18 20:25] #3355 closed

[2021-01-19 10:53] 2opremio commented on #311
For Horizon, up-migrations are tested in every test using the DB (probably down migrations too, I will confirm)

[2021-01-19 20:27] #3341 closed

[2021-01-19 20:35] #3345 closed

[2021-01-20 14:13] bartekn commented on #1684
@jacekn reported new error:
[code]
in the latest version.

[2021-01-22 15:47] #3290 closed

[2021-01-22 20:18] leighmcculloch opened #3369 "txnbuild: assets are trimmed on left and right but should be only trimmed right"
### What version are you using?

`master` at todays date which is:
`8f5ac1ca259b3842e4296d2a8804e919fcbc26fc`

Includes these releases:
`ticker-v1.2.0` `horizonclient-v2.0.0` `horizon-v1.0.0-alpha` `friendbot-v0.0.2` `federation-v0.3.0`

### What did you do?

Looking at the code here:
https://github.com/2opremio/go-2/blob/14a482c1286875cee8caef5ec1fa2fdb27e923c3/txnbuild/allow_trust.go#L66-L73

##

[2021-01-22 21:53] leighmcculloch commented on #2343
@shanzzam We need to discuss the priorities around this change.

[2021-01-24 02:51] 2opremio opened #3371 "State verifier test is flakey"
I wasted quite some time trying to debug a problem in https://github.com/stellar/go/pull/3368 because I thought the state verifier test was legitimately failing at https://app.circleci.com/pipelines/github/stellar/go/7096/workflows/b59bb5b9-004e-4b10-ac3e-7da3af6f43ad/jobs/34554

[code]

However, the test didn't fail when re-running the tests.

[2021-01-25 21:03] bartekn commented on #3371
For future debugging, relevant error is here:
[code]

[2021-01-26 19:32] 2opremio commented on #3371
It happened again https://app.circleci.com/pipelines/github/stellar/go/7111/workflows/91e13f9d-33f7-46f3-9998-ec3eb32c474d/jobs/34691

[2021-01-27 18:09] 2opremio commented on #3371
It happened a couple more times as part of the same PR

[2021-01-29 23:01] 2opremio commented on #3371
Another occurence: https://app.circleci.com/pipelines/github/stellar/go/7126/workflows/c153bc98-5abf-40ac-81b3-5c3c6dbeb283/jobs/34829

[2021-01-30 12:42] arkantos1482 commented on #2515
I encounter to different problem related to "price.parse".

I cannot enter more than MAX_INT (2,147,483,647) as price value like 3 trillion (it is common on offers between BTC and weak currencies). i believe it should be possible to have the (922337203685.4775807) as the top limit price value.

[2021-02-01 19:39] leighmcculloch commented on #3305
I think a CB should also link directly to the transaction that created it too so that clients that wish to read the memo out of the creating transaction can do so in a single hop without having to go via the operation to the transaction. This concern was raised on the stellar-dev mailing list [here](https://groups.google.com/g/stellar-dev/c/Ir-vVpkozSo/m/yoV6WA6vAQAJ).

[2021-02-01 19:52] leighmcculloch opened #3380 "Feature Request: Add creator of a claimable balance to the claimable balance response"
### What problem does your feature solve?
When looking at the response of a claimable balance it is confusing who the creator is.

The response has a `sponsor` field, and that is the only account address contained in the response that isn't a claimant. Several people I have talked to have thought that this field is the creator/sender, and in many cases it is because in many cases the creator/sende

[2021-02-02 21:30] bartekn commented on #3371
OK, I figured out why it's happening. In accelerated mode ledgers are closed every second and checkpoints are created every 8 ledgers (~8 seconds). It means that state verifier is also run more often: every 8 seconds. Now, in `TestProtocol14StateVerifier` there's a check here to ensure rebuilding state works:
https://github.com/stellar/go/blob/974612507b87392459c110ebd492f507422ea062/services/hori

[2021-02-03 00:16] ire-and-curses commented on #3371
I like that plan. Add it to team meeting for quick discussion?

[2021-02-03 11:19] 2opremio opened #3382 "Remove Horizon internal documentaion already present at `stellar/new-docs`"
It seems most of the documentation under `services/horizon/internal` is duplicated at https://github.com/stellar/new-docs

This leads has led (at least in the case of https://github.com/stellar/go/pull/3325 ) to documentation no being published at https://www.stellar.org/developers/horizon/reference (See how https://www.stellar.org/developers/horizon/reference/endpoints/metrics.html doesn't contai

[2021-02-04 15:13] secondclaw commented on #3380
There is an additional issue with account missing from Claimable balance, when I use 'revoke sponsorship' operation on a claimable balance, then query account's operations, these particular operations are not listed (even if that account is transaction's source account). So when I revoke sponsorship of Account, Trustline, Signer, and Data, they show up as operations for the account, but Revoking s

[2021-02-04 18:04] #3340 closed

[2021-02-09 14:17] tamirms opened #3395 "Evaluate Gitlab CI Fuzz testing"
Gitlab CI has introduced support for fuzz testing as a [service](https://docs.gitlab.com/ee/user/application_security/coverage_fuzzing). Their service integrates with [go-fuzz](https://github.com/dvyukov/go-fuzz) which is the library we are using to fuzz test Horizon.

Gitlab supports fuzzing jobs which execute for a user defined timeout and they also support continuous fuzzing which run for a muc

[2021-02-09 14:27] tamirms opened #3396 "Add horizon health check endpoint"
It would be useful to have a healthcheck endpoint that guarantees horizon is fully operational. Fully operation could be defined as being able to submit transactions to stellar core. Assuming that definition, the health check could query its stellar core (or captive core) instance to see that its synced to the network.

[2021-02-09 15:02] jacekn opened #3397 "Feature Request: more verbose logging during horizon startup"
### What problem does your feature solve?

It makes troubleshooting easier

### What would you like to see?

Currently when horizon starts with database URL that's misconfigured or blocked by a firewall there are no log or console entries at all. It would be useful to add some messages to help with troubleshooting.

For example even before the DB connection is attempted we could log `Starting hori

[2021-02-09 18:23] ire-and-curses opened #3399 "Feature Request: Consider returning something other than a link to empty list when pagination is exhausted"
### What problem does your feature solve?
Users are often [surprised](https://github.com/stellar/js-stellar-sdk/issues/600) to discover that Horizon continues to return `next` and `prev` links, even when data is exhausted. This response continues indefinitely. The current expectation is for client to check for a zero length list of records and stop looping.

### What would you like to see?

We sho

[2021-02-09 19:51] leighmcculloch commented on #3399
I don't think this alternative solves all the problems created by this feature of the API.

It requires SDKs and clients to make an additional request, or to write error prone logic to avoid it. From my own experience writing a tool that collects effects on transactions, this means 2x the number of HTTP requests because every collection of a list requires at least two requests, four technically fo

[2021-02-09 22:48] ire-and-curses commented on #3399
Yep I agree. FWIW the doubling is amortized for lists with multiple pages of data though.

I like the suggestions!

[2021-02-09 23:09] leighmcculloch commented on #3399
This depends on the endpoint. If effects are pulled via their transaction or operation, most of the time the dataset returned will be less than 200, the maximum page size, resulting in one page of data, and an extra request. A system that iterates over transactions pulling their effects will download 2x the number of requests.

I agree for endpoints that typically return many pages this matters li

[2021-02-09 23:50] leighmcculloch commented on #3334
This change required for this is ready for review in #3359.

[2021-02-12 01:13] leighmcculloch commented on #1844
Closing because we no longer need CLAs. Yay!

[2021-02-12 01:13] #1844 closed

[2021-02-12 16:59] Zagan202 opened #3404 "Feature Request: add `X-Forwarded-For` header value to `logStartOfRequest`"
### What problem does your feature solve?
Add a `X-Forwarded-For` field to `logStartOfRequest`

### What would you like to see?

[code]

### What alternatives are there?

Not logging that value and trying to find the value in kubernetes

[2021-02-12 17:11] Zagan202 opened #3405 "Feature Request: Make `LoggingMiddleware` extendable"
### What problem does your feature solve?
Update LoggingMiddleware to accept a list of header names.
If a system using this feature wants to log values that are not in the default logger we should accept additional headers, such as `CF-Connecting-IP`

### What would you like to see?
Update the signature of the current constructor to accept a list of headers to log

### What alternatives are there?

[2021-02-19 09:41] 2opremio opened #3417 "Use docker container to run Captive Core in integration tests"
Integration tests currently require running Captive Core locally (i.e. outside of a container like Horizon).

Whenever we deal with unreleased Core changes (e.g. testing a new CAP) I am provided with a Debian build, which means I need to build core locally in order to test it.

This is a bit of a pain, particularly considering I already have a Debian package which is used in the Core container.

R

[2021-02-20 06:54] 2opremio commented on #3417
We should be able to do this using through the remote captive-core adapter

[2021-02-22 20:06] #3334 closed

[2021-02-24 22:40] #3404 closed

[2021-02-25 14:29] jacekn commented on #3396
Most load balancers I know are happy with healthcheck endpoints returning http 200 so that will be enough.
But if it's easy it might be useful to also have health info returned in text format so that operators can query it to check status easily. Maybe something like:
[code]

[2021-02-25 14:33] bartekn commented on #3396
For the future assignee: adding the code for healtcheck somewhere around https://github.com/stellar/go/pull/3414 and https://github.com/stellar/go/pull/3418 can help implementing this faster.

[2021-02-25 14:40] bartekn commented on #3396
Also, my 2 cents: while I think this could be really useful I think we should keep in mind how health check are used in many platforms. In ELB for example I think the default is 2 failures will mark an instance as unavailable but then it will require 10 successes to bring it back. This means that a short blip can actually make the instance unavailable for a longer time.

Other than that, it's ok f

[2021-02-25 16:59] tamirms commented on #3395
My initial tests with Gitlab's fuzzing service have been promising. I was able to get a fairly substantial prototype up and running.

There are still some questions we need to figure out which I have listed in the checklist below. We need to check off all the high priority and medium priority tasks before we can close the issue and move on to writing fuzz targets for Horizon ingestion processors.

[2021-03-01 18:29] 2opremio opened #3430 "Automatically test XDR type-switches"
In Horizon there are several places where we exhaustively go over union type tags.

e.g. 1 :

[code]

e.g. 2 :

[code]

When adding new types (e.g. a new operation or effect) it's easy to miss updating some of those switches.

We should strive to create automatic unit tests which notify a `case` entry was missed whenever we add a new type.

[2021-03-01 18:34] 2opremio commented on #3430
For operation types we can use reflection, since we have all the symbol names are automatically generated in `xdr.operationTypeMap `.

For effects we can go over the keys of `effects.EffectTypeNames`.

We should do something similar for all the `history.Effect*` symbols, but we will probably need to add some extra machinery for it (or fix the replication of `effects.Effect*` and `history.Effect*`

[2021-03-02 13:32] bartekn commented on #3254
Non-ingesting instances need to connect to Stellar-Core for txsub anyway.

[2021-03-02 13:32] #3254 closed

[2021-03-02 13:40] bartekn opened #3436 "Replace regexps in route name before setting Prometheus metric's label"
Some Horizon routes use regexps, for example:
[code]
This format is required by `chi.Mux` to disallow empty params. However, it causes some issues in Prometheus. Querying for:
[code]
results in:
[code]

Ideally, we should remove regexps from params however it requires some changes in `chi`. Instead, we can replace all strings between `{` and `}` with `*` before pushing metrics to Prometheus.

[2021-03-03 16:24] bartekn opened #3437 "Allow setting BUCKET_DIR_PATH when starting Stellar-Core in captive mode"
### What problem does your feature solve?

Some users would like to specify where Stellar-Core stores bucket files because a default `/tmp` location is not always right (small partition, etc.)

### What would you like to see?

A new config flag that is forwarded to Captive Stellar-Core config (both online and offline modes).

### What alternatives are there?

Ideally, Stellar-Core team implements

[2021-03-03 16:25] bartekn opened #3438 "Allow setting LOG_FILE_PATH when starting Stellar-Core in captive mode"
### What problem does your feature solve?

Some users would like to specify where Stellar-Core stores it's log file files because a default `/tmp` location is not always right.

### What would you like to see?

A new config flag that is forwarded to Captive Stellar-Core config (both online and offline modes).

### What alternatives are there?

Ideally, Stellar-Core team implements https://github.c

[2021-03-03 16:34] bartekn commented on #1963
Closing now as `/order_book` works fine. We can reopen in the future.

[2021-03-03 16:34] #1963 closed

[2021-03-03 16:34] bartekn commented on #2906
This should work without any config changes in the latest two versions of Golang. If not, please reopen.

[2021-03-03 16:34] #2906 closed

[2021-03-03 17:41] ire-and-curses commented on #3212
This was done, now decommissioned as going forward we can use hybrid old/new instances in staging.

[2021-03-03 17:41] #3212 closed

[2021-03-03 17:45] ire-and-curses commented on #2813
This has been done, released in txnbuild v6.

[2021-03-03 17:45] #2813 closed

[2021-03-03 17:45] ire-and-curses commented on #3263
This testing was completed.

[2021-03-03 17:45] #3263 closed

[2021-03-03 17:48] ire-and-curses commented on #3110
This was completed and released as [stellar-ingest-v1.0.0](https://github.com/stellar/go/releases/tag/stellar-ingest-v1.0.0).

[2021-03-03 17:48] #3110 closed

[2021-03-03 17:50] ire-and-curses commented on #3219
@Shaptic what's the status here?

[2021-03-03 19:09] Shaptic commented on #3219
![image](https://user-images.githubusercontent.com/822243/109852017-2effd480-7c09-11eb-9535-38f9c67b2173.png)

At this point, I think we can actually abandon a lot of this enumeration. The migration guide and (pending) deployment docs should cover the "All-in-One" as well as the "Multi-Machine" sections (by virtue of describing Remote Captive Core) entirely.

The other remaining sections (Docker a

[2021-03-03 21:07] ire-and-curses commented on #3219
Ok let's just close this for now. When we get there I would like to document K8s but we can do that then.

I think we're actually at a point where we can push quickstart deprecation, but we need to sync with @brahman81 on that, and right now we've all got a lot of other things on our plates.

[2021-03-03 21:07] #3219 closed

[2021-03-04 04:23] #2368 closed

[2021-03-04 06:17] leighmcculloch commented on #3380
The creator of the claimable balance also needs populating on the `claimable_balance_claimant_created` and `claim_claimable_balance` operations.

When streaming operations for an account it is impossible to figure out who created the claimable balance for a claimable balance that has been claimed, and adding the creator to the claimable balance response (this issue) will be insufficient because on

[2021-03-04 08:32] tamirms opened #3441 "Captive core peer port can clash with other stellar core instances running on the machine"
On stellar core the peer port is configured to 11625 by default. When captive core is launched it will fail to start if the peer port is occupied by another process (e.g. a stellar core instance running on the same host). To mitigate this we could either disable the peer port if that's possible or we could select a random port which is available on the host.

[2021-03-04 08:44] tamirms opened #3442 "Feature Request: Add toml file specifically for captive core"
### What problem does your feature solve?

The configuration space for the captive core append path file is not fully documented. Operators don't know what is possible to configure in captive core so they try to copy parts of the stellar-core.cfg file from their stand-alone stellar core instances into the captive core configuration. However, it's not clear which fields  can and can't be set, which

[2021-03-04 09:02] tamirms opened #3443 "Add tool to generate random XDR values"
Given an XDR data type (e.g. `LedgerEntryChange`) we would like to generate a set of XDR values which cover all possible structures of the data type (e.g. given an xdr union we want to make sure all branches of a union are represented in the set). The fields within the XDR values should be set to random values.

The primary motivation behind building such a tool is that we could use it to generate

[2021-03-04 09:07] tamirms opened #3444 "Complete fuzzer for Offers ingestion processor"
@bartekn already has a PR which adds a fuzz target for the offers ingestion processor:  https://github.com/stellar/go/pull/3198/files

Before merging the PR we need to run go-fuzz on the target to ensure there are no crashes. I expect most crashes to be false positives and will require us to modify the Fuzz function to filter out invalid inputs

[2021-03-04 10:57] smdwireless commented on #3441
I think by simply adding a switch in the configuration options, maybe something like:
[code]

This can be set manually or defaulted to 11625

[2021-03-04 12:15] bartekn commented on #3438
OK, there was a [misunderstanding](https://github.com/stellar/stellar-core/issues/2943#issuecomment-790574424) on my side. We still need a flag so nothing changes in this issue but if the flag is not set we should explicitly set `LOG_FILE_PATH=""` so the log file is not written anywhere.

[2021-03-04 16:44] ire-and-curses commented on #3442
Let's discuss this. What are the pros and cons?

[2021-03-04 17:22] 2opremio opened #3447 "[CAP 35] Improve integration test coverage"
Right now we only have happy-path coverage (and for `SetTrustlineFlags` we still need to test the details and effects).

We should add more tests, for instance, the tests suggested by @leighmcculloch at https://github.com/stellar/go/pull/3368#discussion_r562827974

Part of #3348

[2021-03-04 17:25] 2opremio opened #3448 "[CAP 35] Update XDR with small SetTrustLineFlags changes"
There is a last minute change at https://github.com/stellar/stellar-protocol/pull/878#event-4409243096 which we should apply to the CAP 35 XDRs

[2021-03-04 17:43] 2opremio opened #3449 "[CAP 35] Update documentation"
Update documentation at https://github.com/stellar/new-docs
- Add new operations
- Add new effects
- Add new operation details for pre-existing operations (if needed)
- Add new Account flag (if needed)
- Add new Trustline flag (if needed)
- Add new Claimable Balance flag (if needed)

[2021-03-04 18:27] Shaptic commented on #3442
One of the cons we should definitely keep in mind is that by pulling in a TOML parser, we're now exposing a potential attack vector to malicious user input. I'm not sure we should worry about that much, given that if you can control the config file, you can control everything else about Horizon anyway, but it's still worth keeping in mind, especially given our recent discussions about security.

[2021-03-04 20:55] #3396 closed

[2021-03-09 15:43] 2opremio commented on #3305
I would favor simply including the transaction (and maybe the operation index) and operation id in the the `/claimable_balances` endpoint instead of adding a new endpoint to query this.

[2021-03-09 15:52] 2opremio commented on #3305
For instance:

https://horizon.stellar.org/claimable_balances/00000000178826fbfe339e1f5c53417c6fedfe2c05e8bec14303143ec46b38981b09c3f9 would now be something in the lines of:

[code]

where the delta from the current response is:

[code]

[2021-03-09 15:55] leighmcculloch commented on #3305
Could we also include both in the _links so that it is possible to call functions in the SDKs to get the creating and claiming transactions and creating and claiming operations?

[2021-03-09 16:12] 2opremio commented on #3305
This could be challenging though:

What alternatives are there?

If we want to persist that context, even after the claimable balance is claimed, we may have a problem (I didn't check what's Horizon's behavior on claimed claimable balances but I think we 404).

For one, I am not really in favor of persisting Claimable Balances (unlike accounts, they are meant to be ephemeral).

[2021-03-09 17:22] leighmcculloch commented on #3305
@paulbellamy I agree, it is not overly intuitive, but it is consistent with how the /accounts endpoint works today. I think consistently is significantly more valuable than a small improvement on a single endpoint.

[2021-03-09 17:32] leighmcculloch commented on #3305
An application needs to be able to review effects, operations, or transactions, for itself, and traverse backwards to understand that transaction came to be. For example, if my account claimed a claimable balance I should be able to find the transaction that created it, the account that created it, the operation that created it, etc. This is particularly important for two-part payments because the

[2021-03-09 18:07] 2opremio commented on #3305
I think that is completely overkill only for claimed claimable balances. I need specific usecases of that needed *today* to justify it.

[2021-03-09 18:12] leighmcculloch commented on #3380
@ire-and-curses @2opremio This looks like a bug. I know you folks are looking at claimable balances at the moment, and this is probably a separate issue to the existing issues.

[2021-03-09 18:19] 2opremio commented on #3305
Because it complicates the API.

Particularly since, as you already mentioned, they are other (agreed, more complicated, but can be hidden by the SDK) ways to gather a claimed claimable balance. Adding three endpoints just to gather information about a claimed claimable balances seems overkill.

Another possibility (without checking how complicated that would), is adding a flag to the `/claimable_

[2021-03-09 19:11] paulbellamy commented on #3305
I'm definitely +1 for consistency. If claimable balances are a thing we need to refer to and look up after they are claimed/deleted, then it seems to me that they're not actually ephemeral in practice. So we should persist them (not 404 them), and tombstone them in some way.

[2021-03-09 19:22] leighmcculloch commented on #3305
I don't think we should limit the API we create to narrow use cases, especially when we have existing API patterns like the `/accounts` sub-endpoints that as-far-as-I-know service a variety of applications well, but these are the use cases I have:

1. The use case I personally need is I see a `claim_claimable_balance` operation for my account, I need to find out who created it, and when. I need to

[2021-03-09 20:55] tamirms commented on #3305
Querying operations, transactions, and effects by claimable balance id is not so easy. None of the tables used to store operations, transactions, or effects have a column which could be used to filter by claimable balance id. We would need to add a schema change to be able to support the new claimable balance endpoints @leighmcculloch is proposing.

I'm in favor of @paulbellamy 's suggestion of ma

[2021-03-09 21:02] leighmcculloch commented on #3305
This is true and the immutability of claimable balances is unlikely to change I think, so they will either be created, or consumed. If we go the route of not 404ing claimable balances we will need a way to signal what has happened to them. Once CAP-35 is merged claimable balances will have one initial state, created, and two terminal states, claimed, or clawed back.

On a couple different fronts w

[2021-03-09 21:07] leighmcculloch commented on #3305
Would we have a _links entry for the consuming transaction and operation as well? That would allow us to find out how it was consumed: claimed, clawed back, split, joined, etc.

[2021-03-10 00:11] bartekn commented on #3305
I can see one obstacle that will make this idea hard to implement. We rebuild state from time to time because of the ingestion version upgrade. When we rebuild state we use history archives and claimed balances are not present there. This means that to support this feature we would have to reingest entire history (or at least history since claimable balances were added to the protocol) every time

[2021-03-10 01:32] MonsieurNicolas commented on #3305
I don't think a protocol change is the right thing to do here: people will want "context" on the claimable balance, at a minimum that would be the transaction that created it (and then maybe ledger information like close time).

To me this seems to be pretty much the same problem that people have if they want to know "why" they have a specific balance in their account (because they received a paym

[2021-03-10 08:52] tamirms commented on #3305
@bartekn that's a good point, I forgot that claimable balances are removed from the history archives once claimed. Given that obstacle, I am no longer in favor of persisting claimed claimable balances in the horizon db.

we have talked about serving tx meta directly from horizon as an alternative to effects, see https://github.com/stellar/go/issues/2175 . I think if we had an endpoint which allowe

[2021-03-10 09:16] 2opremio commented on #3305
@bartekn On the other hand, we could just accept that certain features will only be available after the Horizon version supporting them was deployed (and not in prior DB history). It's not ideal, but I think it's better than having a hard requirement on reingesting in order to offer such features.

@tamirms To be clear, you mean not 404'ing anymore when a claimable balance is claimed? That's a bre

[2021-03-10 09:34] 2opremio commented on #3305
This seems to be converging into:

1. adding `_links` entries for the creating operation and transaction
2. not 404'ing on claimed claimable balances
3. somehow, indicating whether the claimable balance is still claimable or not.

Regarding (3), it would useful to indicate why and how a claimable balance stopped being claimable. For now it could be due to the claimable balance:

a) being claimed
b

[2021-03-10 09:49] bartekn commented on #3305
I think what I was trying to suggest is that there are some features (like access to removed ledger entries) that are quite hard to implement in Horizon and you are not limited by anything if you ingest raw ledger data with a little help of `ingest` package.

Regarding issues:
* #3305: I'm in favour of adding links to transaction and operation that created the claimable balance. I'm less in favour

[2021-03-10 15:42] jonjove commented on #3305
I want to add some contextual input from the final protocol 14 working group meeting (June 2020), which was attended by @ire-and-curses @leighmcculloch and myself (among others). Reviewing the notes from that meeting, the plan included:

- `/claimable_balances/id` 404s if `id` doesn't exist
- `/claimable_balances/id/effects` endpoint works how it works for accounts
- track the creating account

Ob

[2021-03-10 16:06] paulbellamy commented on #3305
@jonjove the differentiation is around the phrase "doesn't exist", and if/when a claimable_balance should cease to exist. Intuitively, I still feel like it should never cease to exist, just change state when claimed. However, given the ingest/implementation issues, @bartekn's [suggestion](https://github.com/stellar/go/issues/3305#issuecomment-795169412) seems like a reasonable solution.

[2021-03-10 16:35] leighmcculloch commented on #3305
@bartekn Suggestion sounds good to me, for a solution that doesn't involve adding /transaction, /operations, /effects. As a developer who builds on Horizon I'd still prefer the latter but the former looks like it would address the main use cases.

I don't think it covers other possible use cases:
If someone is monitoring a claimable balance because they are one of many claimants, how do they find

[2021-03-10 16:35] tamirms commented on #3305
@bartekn it's not clear to me how your proposal solves the issue. how would you look up the claimable balance details once it has been removed from the db?

[2021-03-10 17:42] leighmcculloch commented on #3305
@bartekn asked me for what the use cases are in a DM, so just resurfacing them here:
- The main use cases we know people need now are: https://github.com/stellar/go/issues/3305#issuecomment-794337990
- But I also think we need to think about more generally how will a developer use Horizon to navigate the data Horizon has, so I think it should be more generally possible to:
   - Go from the create

[2021-03-10 18:15] bartekn commented on #3301
Reopening for work to use https://github.com/stellar/go/pull/3460 in Horizon.

[2021-03-10 21:57] #3405 closed

[2021-03-11 11:14] bartekn commented on #3305
@leighmcculloch we discussed this issue in Horizon meeting yesterday. We think that it should be possible to create a mechanism similar to accounts, which is: for `/claimable_balances/{id}` you can get sub endpoints: `/transactions`, `/operations` (and possibly `/effects`) connected to a given balance. As with accounts this data will be available also after the balance is claimed/deleted however t

[2021-03-11 14:15] #3436 closed

[2021-03-11 15:51] leighmcculloch commented on #3305
That sounds good 👍.

Questions:

1. For the situation you mentioned where a full history Horizon does catch-up and skips over txmeta, will the sub-endpoints exist with all the data?
2. The limitation that the transactions, operations, effects won't show up: do accounts have the same limitation on partially ingested Horizons?

[2021-03-11 16:53] bartekn commented on #3305
Yes. We are planning to do it in a similar way to accounts so there will be a new `history_claimable_balances` table with all balances seen in history (also claimed).

Yes.

[2021-03-11 17:18] Shaptic commented on #3449
Also covered by stellar/new-docs#355. There's value in keeping it here for tracking purposes, but are there more docs requirements within the monorepo itself (docstrings, etc.)?

[2021-03-11 17:56] tamirms commented on #3306
@leighmcculloch do you expect this endpoint to only return unclaimed claimable balances or should it also include claimable balances which have already been claimed?

[2021-03-11 18:17] Shaptic commented on #3437
According to [the Golang documentation](https://golang.org/pkg/os/#TempDir), we should be able to customize this with no changes to the codebase:

That means a user can customize where their Core `buckets` go via `TMPDIR=~/.cache horizon --db-url=...`. If we can document this scenario, I think that will close this issue. Thoughts @bartekn?

[2021-03-11 18:20] leighmcculloch commented on #3306
FYI I think #3380 overlaps with solving this lookup issue for any wallet needing to find pending two-part payments that includes the creator as a claimant.

[2021-03-11 20:09] bartekn commented on #3437
I think we should have a separate flag, even given it's configurable via `TMPDIR`:
* We need users to set this value explicitly, we had at least two users who run of space because their `/tmp` partition was too small. So not setting `TMPDIR` will default to `/tmp` and this will cause the similar issues again.
* `TMPDIR` is not descriptive enough.
* It can affect other apps if set globally instead

[2021-03-11 21:32] leighmcculloch commented on #3305
Great, sounds great.

[2021-03-12 11:36] jacekn commented on #3441
stellar-core config supports `PEER_PORT` option whcih defaults to 11625. Maybe we can use it for this purpose?

[2021-03-12 13:28] bartekn opened #3465 "43_add_claimable_balances_flags migration does not work if claimable_balances table contains rows"
I'm getting:
[code]
when migrating existing DB with data in `claimable_balances` table. I think it's happening because a new `flags` field is defined as `NOT NULL` but does not have a default value.

Assigning to @2opremio because you added a file, please assign to somebody else if needed.

[2021-03-12 13:50] bartekn opened #3466 "Cannot start non-ingesting Horizon without setting ENABLE_CAPTIVE_CORE_INGESTION=false"
### What version are you using?

2.0.0

### What did you do?

Start non-ingesting Horizon instance.

### What did you expect to see?

Horizon starts without issues.

### What did you see instead?

[code]

I think it's happening because we do some checks in `flags.go` inside `if config.EnableCaptiveCoreIngestion` but we should check if `config.Ingest` is set too.

[2021-03-12 18:39] tamirms commented on #3442
If we have a separate toml file for captive core we should consider allowing `LOG_FILE_PATH` to be configured. If `LOG_FILE_PATH` is set we will store captive core logs in that location and remove captive core output from the horizon log stream. If `LOG_FILE_PATH` is not set then we can default to the current behavior of including captive core logs in the horizon log stream.

One point of duplicat

[2021-03-12 18:59] Shaptic commented on #3437
Based on our conversation with ops, here's the strategy moving forward:

- We'll introduce a parameter (ideas: `--storage-directory`, `--bucket-directory`, `--captive-core-bucket-directory`; patents are pending) that will be passed along to Core's `BUCKET_DIR_PATH`.
- This will be the **current directory** by default, in order to make it obvious that there are large chunks of data being generated

[2021-03-12 19:06] Shaptic commented on #3438
After discussion with ops, here's the agreed-upon strategy for this moving forward:
- We'll expose an optional parameter, e.g. `--captive-core-log-path`
- **If this is set**, we'll stop logging `subservice=core` in Horizon and pass the path along to `LOG_FILE_PATH`
- **If not**, we'll continue with the current behavior (log in Horizon and set param to `""`)

[2021-03-12 19:30] 2opremio commented on #3465
Good catch. Will fix!!

[2021-03-12 19:47] Shaptic commented on #3442
After the discussion with ops, I think this has progressed into a far bigger, arguably meta-issue.

Should we push to make Horizon configured by toml files entirely, just like Stellar Core? Then, it will simply contain a subsection related to Captive Core configurations (while the rest will be a tomlification replacing Horizon's existing CLI / env params entirely). While this subsection may "look"

[2021-03-13 01:24] Shaptic commented on #3380
@secondclaw I've investigated your claims and am running into an issue: **claimable balances can't have their sponsorship revoked**. This is outlined in CAP-33 itself as an error case in the `RevokeSponsorship` operation:

[code]

I'm seeing the same thing trying to reproduce this via Horizon, `op_only_transferable`, after sponsoring a claimable balance (which are already implicitly sponsored, afa

[2021-03-15 15:43] #3465 closed

[2021-03-15 17:32] secondclaw commented on #3380
@Shaptic Hi George. The issue is really with history/audit trail, and I don't think the issue is a separate one from lack of 'source account' in claimable balance entry. What happens is when an account creates claimable balances, I reassign sponsor of the CB to a dedicated sponsor account. Since CB doesn't have 'sourceAccount' or any other reference to account that created it, if I were to reassig

[2021-03-15 22:39] #3301 closed

[2021-03-16 14:08] bartekn commented on #3442
This can be done in a non-breaking way (however requires some extra work): if config file param is set (`--config-file` maybe?) all of the other flags are ignored, if it's not set we read the flags using existing code.

Pros, cons and random thoughts:
* P: The same format (toml) is used for Stellar-Core and Horizon which are often used together.
* P: toml allows setting more complicated structures

[2021-03-17 01:06] Shaptic commented on #3442
Good point. We can even consolidate the code to essentially make an in-memory TOML file **from** env/cli parameters, making it easier to drop the latter entirely in a future version and ensure we only have a single parsing / validation path. e.g.

[code]

With proper parsing, we'll be able to advise users much better, e.g. these lines are ignored, this line is wrong, here's a Horizon-compatible to

[2021-03-17 15:13] bartekn commented on #2853
For the record: I was thinking about the trivial solution for this issue which is running multiple ingestion nodes against the same ledger and commit only the work of the fastest worker (that would cancel the other nodes work). Unfortunately it won't work because in all tx isolation levels in Postgres if one transaction updates a row the other one updating the same row will wait until the initial

[2021-03-18 09:27] bartekn opened #3473 "Horizon should error if Captive Stellar-Core are passed but ingest=false"
### What version are you using?

2.0.0

### What did you do?

This [user](https://stellar.stackexchange.com/questions/4543/captive-core-does-not-work) started Horizon with all the Captive Stellar-Core params but did not set `--ingest`.

### What did you expect to see?

In such case Horizon should fail to start with an error message.

### What did you see instead?

Horizon starting but logging erro

[2021-03-18 13:09] tamirms opened #3474 "Audit ingestion lock critical section"
Horizon supports a mode of distributed ingestion where a `SELECT FOR UPDATE` lock is used to facilitate leader election. Once a Horizon instance has the lock it attempts to ingest the next available sequence from stellar core. Afterwards, the horizon instance releases the lock and the next round of leader election begins.

We should audit the code path that is executed when Horizon has the `SELECT

[2021-03-19 07:02] bert2002 opened #3475 "but corresponding option captive-core-config-append-path is not configured (Version: 2.0.0-54)"
## Issue Description

After upgrading stellar-horizon to 2.0.0-54 we cant start it anymore due to following error message.

### stellar-horizon Version
[code]

### Environment

- Debian 10
- horizon/core installation using official apt repository

## Supporting Files

[code]
I can't find much about the `captive-core-config-append-path` option in the documentations or where and how I can set it to.

[2021-03-19 09:36] bartekn commented on #3475
Please read [the migration guide](https://github.com/stellar/go/blob/master/services/horizon/internal/docs/captive_core.md) and reopen if you still experience problems.

[2021-03-19 09:36] #3475 closed

[2021-03-19 09:41] bartekn opened #3476 "Include claimable balances in Asset Stats endpoint"
Asset stats (`/assets`) don't include claimable balances. We probably should add number of claimable balances holding a given asset with the sum amount. This can be either part of https://github.com/stellar/go/pull/3454 or in a separate PR.

[2021-03-19 19:14] #3438 closed

[2021-03-19 19:16] #3466 closed

[2021-03-19 19:16] #3473 closed

[2021-03-20 11:35] urbanurba opened #3478 "How to generate a keypair correctly?"
Hi,
how to generate a keypair correctly?
Take test seed here: https://github.com/stellar/stellar-protocol/blob/master/ecosystem/sep-0005.md

seed: "e0eec84fe165cd427cb7bc9b6cfdef0555aa1cb6f9043ff1fe986c3c8ddd22e3"

correct result: m/44'/148'/0' GDRXE2BQUC3AZNPVFSCEZ76NJ3WWL25FYFK6RGZGIEKWE4SOOHSUJUJ6 SBGWSG6BTNCKCOB3DIFBGCVMUPQFYPA2G4O34RMTB343OYPXU5DJDVMN

How to properly turn seed into a correct

[2021-03-20 16:07] leighmcculloch commented on #3478
Hi!

The seed in your example is a hex string, so you need to decode it with the `encoding/hex` package's `DecodeString` function.

Once you have the SEP-5 seed decoded into a `byte[]`, you can derive a key from the SEP-5 seed using the `github.com/stellar/go/exp/crypto/derivation` package.

Checkout the example here:
https://github.com/stellar/go/blob/horizonclient-v6.0.0/exp/crypto/derivation/ma

[2021-03-20 19:13] urbanurba commented on #3478
Changed to this:
[code]
Still the wrong result.

But this seed example - "000102030405060708090a0b0c0d0e0f"
gets correct result:
SB6VZS57IY25334Y6F6SPGFUNESWS7D2OSJHKDPIZ354BK3FN5GBTS6V
GCWSJRG6YZSA374IY7LF53PIGTO6JD6BP5CNMUAVNWL3YYE636F3APML
https://github.com/stellar/go/blob/horizonclient-v6.0.0/exp/crypto/derivation/main_test.go#L27

[2021-03-21 14:38] overcat commented on #3478
Hi @urbanurba, You should use `BIP39 Seed` in SEP-05, not `m/44'/148' key`. If you want to reproduce test 1 in SEP-10, please use the following code.

[code]

Actually `m/44'/148' key` is the intermediate value generated during the calculation, if you are interested in it, add a breakpoint [here](https://github.com/stellar/go/blob/horizonclient-v6.0.0/exp/crypto/derivation/main_test.go#L13) and ex

[2021-03-21 17:31] urbanurba commented on #3478
@overcat, this is what I was looking for,
thank you very much!

[2021-03-22 16:19] bartekn commented on #3240
Fixed in https://github.com/stellar/go/pull/3454. Will be part of Horizon 2.1.0 release.

[2021-03-22 16:19] #3240 closed

[2021-03-22 16:21] bartekn commented on #3241
I think it is fixed in https://github.com/stellar/go/pull/3454. Will be part of Horizon 2.1.0 release.

[2021-03-22 16:21] #3241 closed

[2021-03-22 20:05] Shaptic opened #3482 "Feature Request: Provide a metric endpoint about ledger information"
Issue to track/discuss whether or not it's possible to convey information about the current ledger Horizon is ingesting via a metric, to let monitoring services know about e.g. large ledgers that will take a long time to ingest.

I see that the number of entries in a ledger not part of the `LedgerHeader`; is there another way to grok this? Can we approximate it in any way, e.g. by dividing the who

[2021-03-23 10:57] #3448 closed

[2021-03-23 11:54] bartekn commented on #3478
Closing, please reopen if needed.

[2021-03-23 11:54] #3478 closed

[2021-03-23 14:07] bartekn opened #3485 "Add configuration testing"
We need to add some testing to configuration. Recently, we introduced two bugs that prevented certain configurations to start Horizon: https://github.com/stellar/go/pull/3481 and https://github.com/stellar/go/pull/3477.

[2021-03-23 16:07] lorenzobersano opened #3486 "Duplicate UNSAFE_QUORUM entry in stellar-core temp config when reingesting range in Horizon + Captive Core Docker Setup"
### What version are you using?

Cloned this repo as in https://github.com/stellar/go/commit/17275e80a6821fd057ad3313b651a1ba07f9bf80

### What did you do?

I started a Horizon + Captive Core setup using the start script in pubnet mode as found here https://github.com/stellar/go/tree/master/services/horizon/docker.
The base setup works fine, but once I get into the Horizon container the `horizon d

[2021-03-23 16:46] #3441 closed

[2021-03-23 18:14] paulbellamy opened #3487 "Horizon: Update SDKs for /assets summary changes"
Follow on work from https://github.com/stellar/go/pull/3454, to update the SDKs to use the new fields in preparation for the old fields being deprecated in Horizon 3.0.

We should:
- [x] wait for next horizon release (2.2.0?), so that all changes are in.
- [x] Update the official sdks
    - [x] go
    - [x] java https://github.com/stellar/java-stellar-sdk/pull/339
    - [x] javascript https://gith

[2021-03-23 18:18] paulbellamy opened #3488 "Horizon: Update SDKs for /claimable_balances new endpoints"
Follow on work from https://github.com/stellar/go/pull/3483, to update the SDKs to expose the new endpoints.

We should:
- [x] wait for next horizon release (2.2.0?), so that all changes are in.
- [x] Update the official sdks
    - [x] go
    - [x] java https://github.com/stellar/java-stellar-sdk/pull/339
    - [x] javascript https://github.com/stellar/js-stellar-sdk/pull/628
- [x] Update the docs

[2021-03-23 19:37] tamirms commented on #3486
The append path is configured via an environment variable and it defines UNSAFE_QUORUM=true. But, when we generate the stellar core configuration during a prepare range command we also set UNSAFE_QUORUM=true  in the generated configuration. So, the resulting configuration has the property set twice

https://github.com/stellar/go/blob/master/ingest/ledgerbackend/stellar_core_runner.go#L130-L135

[c

[2021-03-23 20:17] 2opremio opened #3489 "Horizon: Add documentation for /claimable_balances new endpoints"
In https://github.com/stellar/go/pull/3483 we added two new endpoints.

* GET `claimable_balances/{id}/transactions`
* GET `claimable_balances/{id}/operations`

In addition, we incorporated new transaction/operation links in the response to GET `/claimable_balances`, e.g:

[code]

They all need to be incorporated into the documentation.

[2021-03-23 21:42] ire-and-curses opened #3490 "Feature Request (txnbuild): (Re-)implement multiplexed accounts in the SDK"
### What problem does your feature solve?
[Multiplexed account](https://github.com/stellar/stellar-protocol/blob/master/core/cap-0027.md) support was implemented in the Stellar protocol in Protocol 13. Full ecosystem support was not implemented because the lift was large: see https://github.com/stellar/stellar-protocol/issues/617.

Adding SDK support (only) for multiplexed addresses now will allow

[2021-03-23 21:54] MonsieurNicolas commented on #3490
yeah when "off" you want to ensure that we never sees muxed accounts in either direction:
* never produce a multiplexed address in the object model. From string, but also from XDR binary form.
   * so you need to reject (from string) or "downgrade" (by transforming into a regular AccountID) multiplexed addresses coming from any place
   * note that when turned "on" there should never be a downgrad

[2021-03-24 13:16] bartekn opened #3491 "Make ingest.LedgerTransaction.Meta private"
`LedgerTransaction.Meta` is low-level object and can be misused. We should make it private (`GetChanges()` should be used instead).

_Originally posted by @bartekn in https://github.com/stellar/go/pull/3483#r600465388_

[2021-03-24 14:52] paulbellamy opened #3492 "services/horizon: Remove unused test scenarios"
### What problem does your feature solve?

We have several (afaict) unused test scenario files in `services/horizon/internal/test/scenarios`. e.g. `kahuna-2`, and `asset_stat_trustlines_*`.

### What would you like to see?

It would be nice to remove them.

### What alternatives are there?

[2021-03-24 17:43] bartekn commented on #3485
Duplicate of https://github.com/stellar/go/issues/3193.

[2021-03-24 17:43] #3485 closed

[2021-03-24 18:23] 2opremio commented on #3306
@leighmcculloch After an internal discussion, we observed that:

1. implementing this would be pretty involved and disruptive
2. we don't even support this kind of query for accounts (there is no way to query accounts by their creating account).

Thus, unless a compelling business usecase is provided which justifies it, we won't include it in our sprint backlog for now.

Note, however, that you wi

[2021-03-24 19:51] #3305 closed

[2021-03-24 20:09] #3437 closed

[2021-03-24 21:47] tamirms commented on #3474
The horizon ingestion system interacts with 3 components to perform I/O operations:

1. history archives
2. ledger backend
3. horizon postgres db

---
There are no timeouts set on the requests to the history archives. It is possible that a request to the history archive hangs for a prolonged period of time while the ingestion lock is held. Unfortunately, it's not easy to configure timeouts for the

[2021-03-24 23:21] Zagan202 opened #3495 "Feature Request: Improve services/regulated-assets-approval-server tests"
### What would you like to see?

A few outstanding items
- Use cases for the `ServeHTTP` for both `json` and `form` and also all edge cases for `h.isRejected` tests the same parts of the code three times.
    - Have full coverage of all edge cases for the `json`.
    - Cover just the happy path for the other two options.

- Add a unit test for the TOML file.

[2021-03-24 23:40] Zagan202 opened #3496 "Feature Request: services/regulated-assets-approval-server stellarTOMLHandler refactor"
### What would you like to see?
Use dependency injection + the `ServeHTTP` method for `stellarTOMLHandler`

[2021-03-25 10:45] Black52 opened #3497 "stellar-horizon"
stellar-horizon --db-url="postgresql://stellar:test123qwe@localhost:5432/stellar" --stellar-core-url="http://10.10.23.43:11626" --port 8000 --network-passphrase "Test SDF Network ; September 2015"
2021/03/25 18:40:16 There are 25 migrations to apply in the "up" direction.
2021/03/25 18:40:16 The necessary migrations are: [19_offers.sql 20_account_for_signer_index.sql 21_trades_remove_zero_amount_c

[2021-03-25 11:22] bartekn commented on #3497
You need to run `horizon db migrate up` as stated in the error message.

[2021-03-25 11:22] #3497 closed

[2021-03-25 13:15] tamirms commented on #3474
As an alternative to configuring keep alive settings on the horizon side, we could add timeouts to each of the db query and statements executed by horizon when it has the ingestion lock (see https://github.com/stellar/go/pull/2570). This would mitigate the scenario where the postgres machine reboots.

[2021-03-25 15:54] paulbellamy commented on #3476
Initial thought was to add this into the AssetStatsProcessor. The process being roughly:
- When a claimable balance is created we subtract the amount from the creator trustline.
- When it is claimed we add the balance to the destination trustline
- When it is clawed back we add the balance back to the creator trustline

However, that might have the same issue as https://github.com/stellar/go/issue

[2021-03-25 19:29] tamirms commented on #3476
@paulbellamy I believe you should be able to implement it in the AssetStatsProcessor. You don't need to have any logic to check who created the claimable balance or how the claimable balance was claimed or clawed back.

When you create a claimable balance I think there will be two `ingest.Change` produced from that operation. The first change will correspond to the trustline balance change of the

[2021-03-25 19:39] bartekn commented on #3476
^ What @tamirms said, just one quick note on:
[code]
I think there's one case in which it's possible: when the sponsor is changed. But this won't affect the amount nor the asset.

[2021-03-26 01:49] Black52 commented on #3497
root@root:~# stellar-horizon db migrate up --db-url="postgresql://stellar:test123qwe@localhost:5432/stellar"
2021/03/26 09:44:13 pq: relation "offers" already exists handling 19_offers.sql
root@root:~# stellar-horizon version
2.0.0-rc-89ef5f86ac784d35e29845496e8e1bceac31298a
go1.14.15

[2021-03-26 13:08] 2opremio opened #3500 "horizon-cmp: add support for claimable balances"
horizon-cmp doesn't currently have support for the claimable balances endpoints, we should add it.

[2021-03-26 17:39] paulbellamy commented on #3487
Once https://github.com/stellar/go/pull/3502 is merged, we should include that in these updates.

[2021-03-26 21:42] leighmcculloch opened #3503 "Update ruby and Rakefile scripts to be ruby 3.2 compatible"
The ruby/Rakefile scripts and their bundler requirements require bundler 1.17.2. When running bundler 1.17.2 on Ruby 3 I see this warning message:

[code]

We should probably upgrade to bundler 2 at some point so that bundling doesn't break in the future.

[2021-03-27 17:35] 2opremio opened #3505 "verify-range: add support for claimable balance tables"
verify-range doesn't include the claimable balance tables in its db dumps, we should include them

[2021-03-27 18:54] 2opremio opened #3507 "horizon: captive-core flags shouldn't be checked when captive core ingestion is disabled"
The following invocation of horizon shouldn't error:

[code]

It only works after setting `CAPTIVE_CORE_CONFIG_APPEND_PATH` to a phony value (e.g. `CAPTIVE_CORE_CONFIG_APPEND_PATH=/dev/null`).

This is an ugly workaround the user shouldn't go through.

[2021-03-27 18:55] 2opremio commented on #3507
Related: #3481

[2021-03-27 18:55] 2opremio commented on #3507
I think this is a blocker for 2.1.0

[2021-03-29 11:35] bartekn opened #3512 "Add EffectTrustlineFlagsUpdated effects check back to verify-range"
This should be removed after Horizon 2.1.0.

_Originally posted by @bartekn in https://github.com/stellar/go/pull/3511#r603220088_

[2021-03-29 12:20] bartekn commented on #3293
Looks like it's working fine in Go 1.16.2. In compiles, runs in stg and verify range tests work.

[2021-03-29 12:20] #3293 closed

[2021-03-30 12:42] bartekn commented on #3474
Great analysis, thanks @tamirms!

I agree we can ignore this case. Also because when state ingestion is performed, ledger-by-ledger ingestion is stopped.

When it comes to Horizon DB:
* I think #2570 makes sense but I'm afraid about three things:
  * In the worst case scenario, all queries are finished just before the timeout which means that the cumulative ingestion time will still be long.
  * I

[2021-03-30 14:06] tamirms commented on #3474
@bartekn what about configuring tcp keep alive on the horizon side at the operating system level? The only downside I see is that it requires configuration outside of horizon. if that's a blocker we could have a goroutine which periodically calls `db.Ping()` on the database connection and if there are consecutive failures we could cancel a context for the transaction.

[2021-03-30 15:20] 2opremio commented on #3474
Regarding the history archive timeouts, if the file size can be obtained in advance, we could dynamically adjust the timeout based on it (although, maybe we cannot rely on that in general).

[2021-03-30 15:31] bartekn commented on #3474
This is a good idea for internal network but, as you said, it requires some config outside Horizon which isn't ideal for anyone else. It will also affect all other services running on the host.

Good idea. I just wonder if, in case of connection issues, `db.Ping` would also hang indefinitely.

[2021-03-30 15:34] tamirms commented on #3474
We can add a timeout to the ping operation via a context deadline

[2021-03-30 15:35] bartekn commented on #3474
Nice!

[2021-03-30 15:54] bartekn commented on #3507
Fixed in #3513. Let's keep tracking config validation and tests in https://github.com/stellar/go/issues/3193.

[2021-03-30 15:54] #3507 closed

[2021-03-30 15:57] tamirms commented on #3474
I think that makes sense

[2021-03-30 16:42] bartekn opened #3516 "Periodically call `db.Ping()` to check DB connection"
In #3474 we were discussing how we can improve Horizon ingestion reliability in case of DB connection issues. It looks like TCP keepalives are the most reliable solution - it can be easily set in Postgres config on a DB side but it's not easy/possible in Horizon because it's not possible to change TCP connection params in `lib/pq`. However, @tamirms came up with the idea to periodically call `db.P

[2021-03-30 17:39] tamirms commented on #3474
@bartekn I just thought of one possible issue with the `Ping()` approach. When you call `Ping()` there's no guarantee that the request will happen on the same connection which is used by the ingestion code. I think the pq library maintains a connection pool so it's possible that the ping operation is performed on a new connection.

My concern is if postgres reboots without closing its connection b

[2021-03-30 18:14] bartekn opened #3517 "Move LedgerBackend operations outside ingest locked section"
In `resumeState` of ingestion state machine we get ledger data from `LedgerBackend` **inside** critical section when lock is acquired (line below between tx start and `LedgerBackend` usage):
https://github.com/stellar/go/blob/48e6dfc9e9b18e3738917cd514a86ad7a0adbb6b/services/horizon/internal/ingest/fsm.go#L367-L426

It should be possible to move the code responsible for getting ledger data outside

[2021-03-31 09:55] #3512 closed

[2021-03-31 12:58] paulbellamy opened #3519 "services/horizon: Experiment with stub-based testing instead of mock-based"
### What problem does your feature solve?

Mock-based tests can be quite fragile and difficult to maintain. e.g. making a change, and having to update mocks in lots of unrelated tests.
Stubs can help alleviate that.

### What would you like to see?

Try a stub-based approach for a couple tests. Identify a few good tests to start with. Ingest processor ones using a historyQ could be a good candidat

[2021-03-31 15:39] bartekn commented on #3519
Can you elaborate? AFAIR, in most cases we use mocks because we actually check if the arguments are correct.

[2021-03-31 16:10] paulbellamy commented on #3519
But, a lot of the time those specific argument values are unrelated to the given test (at least for the ingest processors I've seen). Most of our tests are more concerned with what the resulting state/output is, vs how it got there. For tests specifically concerned with internal calls of *how* a thing happens mocks definitely make more sense. But, as it is we have to mock every interaction with th

[2021-03-31 16:45] paulbellamy commented on #3519
mock.Anything is alright, but we still have to mock the calls. This is, I
guess, the other option, of "try improving our mock usage", as maybe
there's a way to only specify the mock calls we care about more precisely.

On Wed, Mar 31, 2021 at 5:44 PM Bartek Nowotarski ***@***.***>
wrote:

[2021-03-31 16:57] bartekn commented on #3306
I guess we can close this. Please reopen if I'm missing something.

[2021-03-31 16:57] #3306 closed

[2021-03-31 16:59] bartekn commented on #3516
There may be some issues with this idea: https://github.com/stellar/go/issues/3474#issuecomment-810449832.

[2021-03-31 21:21] 2opremio opened #3521 "Protocol 16 support"
This issue lists the changes to the Horizon API introduced by [CAP-35](https://github.com/stellar/stellar-protocol/blob/master/core/cap-0035.md). This CAP comprises the public-facing changes in Stellar Protocol 14. The first Horizon version with the updated API is Horizon 1.9.0-RC, to be released 2020-09-21 (monorepo release page).

This protocol upgrade is purely additive. We expect a protocol 16

[2021-03-31 21:22] 2opremio commented on #3521
This was created a automatically, duplicate of #3348

[2021-03-31 21:22] #3521 closed

[2021-04-01 17:05] #3476 closed

[2021-04-02 11:00] JeroenVanSteijn commented on #1832
Just wanted to let you guys know that we are working on an implementation for this :)

[2021-04-02 16:39] bartekn commented on #3112
Looks like everything is done here. Close?

[2021-04-05 14:11] 2opremio commented on #3490
@MonsieurNicolas I generally agree with your comment (if by object model you mean Go data SDK datastructures)

That said, (if only for backwards compatibility) we may not reach a perfect solution. Muxed accounts can already be leaked today (e.g. if you readily provide XDR for submitting a transaction, bypassing the `txnbuild` datastructures). I am still diving through the code, but there may be ot

[2021-04-07 18:01] paulbellamy commented on #3380
@leighmcculloch with the work in https://github.com/stellar/go/pull/3483, there's now `/claimable_balances/00000.../transactions`, and `/claimable_balances/00000.../operations` endpoints. With those you can find the first operation for a claimable balance and get the creator from that. Is that a good enough work around for you for this, or is this still worth doing?

[2021-04-08 01:31] MonsieurNicolas commented on #3490
yes exactly @2opremio : what I was trying to say is that we can make this safe for 99% of the developers that use the SDK.
For people that do things directly with XDR (like hardware wallets), they will have to support it (and should already but probably don't).

[2021-04-08 15:49] paulbellamy commented on #3447
From reading the comment on #3368, and [cap35](https://github.com/stellar/stellar-protocol/blob/master/core/cap-0035.md), the list of extra potential tests I have is below. Not sure we need to hit *all* of these, as a lot should be handled by core.

## Happy path
  - [ ] Claiming back a partial amount.

## Sad Path
  - [ ] enabling and disabling it (tested implicitly by below?)
    - [ ] trying to

[2021-04-08 15:51] bartekn opened #3530 "Add detect-gaps command to Horizon"
We should add `horizon db detect-gaps` command that runs the following query:
[code]
and reports all the gaps with a list of reingest commands Horizon admin needs to run to fill the gaps.

[2021-04-08 17:18] paulbellamy commented on #3447
Per discussion, for stuff where it is behaviour around core, it makes more sense to maybe sanity-check the error response gets generated correctly, and the horizon state is in the expected state. Possibly a table-driven test makes sense here.

[2021-04-08 18:57] ire-and-curses commented on #3112
:tada: I think we still need to explicitly reach out to key ecosystem groups to get upgraded, but we can do that after the config file work in #3442 is done, as a separate task.

[2021-04-08 18:57] #3112 closed

[2021-04-12 08:19] #3443 closed

[2021-04-12 12:11] #3517 closed

[2021-04-12 12:30] #3447 closed

[2021-04-12 16:50] leighmcculloch commented on #3380
It's awesome that we can now discover the creator via the transactions and operations sub-endpoints. 🎉  However, I think without including the `creator` here, the problem remains, the response is confusing. We have evidence of this because several folks have looked at the response and assumed the `sponsor` is the creator, written code, then discovered the sponsor is not always the creator.

[2021-04-12 17:08] 2opremio opened #3537 "Protocol 16 support"
This issue lists the changes to the Horizon API introduced by [CAP-35](https://github.com/stellar/stellar-protocol/blob/master/core/cap-0035.md). This CAP comprises the public-facing changes in Stellar Protocol 16. The first Horizon version with the updated API is Horizon 2.1.0.

This protocol upgrade is purely additive. We expect a protocol 16 compliant SDK to be able to run successfully against

[2021-04-12 17:08] 2opremio commented on #3537
## Update: CAP35 will now be included in Protocol 17\n\nVersion 16 of the protocol was used to resolve an issue in the network.\n(If interested, there is a [blogpost](https://stellar.org/developers-blog/protocol-16-upgrade-guide) explaining the details).\n\nAs a result, CAP35 will be included in Protocol 17. In orhter words, all the references to Protocol 16 above, now apply to Protocol 17.

[2021-04-12 17:10] 2opremio commented on #3537
Sorry for the formatting issues in the comment above. I hope it's clear enough though.

[2021-04-12 18:22] 2opremio commented on #3537
Duplicate of #3521 (it seems like the SDK issue tool doesn't deal well with closed issues)

[2021-04-12 18:22] #3537 closed

[2021-04-13 23:36] Shaptic commented on #3486
After some investigation, it seems like this can't be a quick fix. I believe there's two conflicting things going on:

  - On one hand, the Docker configuration needs to be valid for Captive Core to start up (meaning we need `UNSAFE_QUORUM=true` specified in the configuration).
  - On the other, executing `reingest` and friends explicitly *additionally* set `UNSAFE_QUORUM=true` (as @tamirms descri

[2021-04-14 20:12] #3490 closed

[2021-04-14 23:02] #3503 closed

[2021-04-15 15:59] 2opremio opened #3543 "Add OPT-IN support for SEP0023 (Muxed Accounts M-strkeys)"
## TL;DR

Add opt-in support for [SEP 23](https://github.com/stellar/stellar-protocol/blob/master/ecosystem/sep-0023.md). SEP23 adds a strkey representation (M-strkeys) for MuxedAccounts.

For example, given the MuxedAccount `MAQAA5L65LSYH7CQ3VTJ7F3HHLGCL3DSLAR2Y47263D56MNNGHSQSAAAAAAAAAAE2LP26` , you might get the following fields:

    source_account: GAQAA5L65LSYH7CQ3VTJ7F3HHLGCL3DSLAR2Y47263D5

[2021-04-15 16:00] 2opremio commented on #3543
Duplicate of  #3490

[2021-04-15 16:00] #3543 closed

[2021-04-15 20:55] naveensrinivasan commented on #3395
https://github.com/google/oss-fuzz provides the fuzzing service which will provide all the things that Gitlab provides.

It is easy to integrate.

[2021-04-15 20:55] naveensrinivasan commented on #3395
I can help with this.

[2021-04-16 11:53] bartekn opened #3549 "Change ingest.ledgerbackend.LedgerBackend.GetLedger to be always blocking"
### What problem does your feature solve?

Currently `LedgerBackend` interface has two `GetLedger` methods:
* `GetLedger` that has a different behaviour depending on how the range was prepared:
  * For `UnboundedRange` it's non-blocking,
  * For `BoundedRange` it is blocking.
* `GetLedgerBlocking` that is always blocking no matter how the range was prepared (added just recently in https://github.c

[2021-04-16 12:56] bartekn opened #3550 "Horizon txsub endpoint should return 503 Service Unavailable when underlying Stellar-Core not synced"
### What version are you using?

2.1.0

### What did you do?

During the SDF outage on April, 6th 2021 Horizon `POST /transactions` was accepting transactions and forwarding them to Stellar-Core. While Stellar-Core (maybe?) broadcasted these transactions to the network Horizon was not able to ingest ledgers (because Stellar-Core was not synced) thus it couldn't check the status of submitted transa

[2021-04-19 16:45] paulbellamy commented on #3549
So, turns out we do still need a non-blocking version for serving web requests at https://github.com/stellar/go/blob/master/exp/services/captivecore/internal/api.go#L173. Or we need to change how that is handled.

We could either:
- Rename:
  - `GetLedger -> GetLedgerAsync` (or some other name. `MaybeGetLedger`?)
  - `GetLedgerBlocking -> GetLedger`
- Leave the names, and just change the places we

[2021-04-20 09:59] bartekn opened #3552 "Batch status check queries for pending transactions in txsub"
### What version are you using?

2.1.0

### What did you do?

@tomerweller was running into performance issues when submitting thousands of transactions to a standalone network. It looks like the problem is related to this code:
https://github.com/stellar/go/blob/56d94a2f370fde4e8a7500658cc7fa57ddfc08e4/services/horizon/internal/txsub/system.go#L307-L325

With many pending transactions getting its

[2021-04-20 11:33] 2opremio commented on #3491
I am half-through a PR to fix this but:

1. A setter in unavoidable for tests (creating fixtures). Maybe I could place the setter in a `_test` file (I am not sure it will work due crossing packages) but ...
2. A getter is needed in `db2/history` for marshalling before ingesting into the DB (`transactionToRow()`)

Thus, I am not sure this can be done without leaking.

[2021-04-20 14:23] bartekn commented on #3491
What about this:
* We change `LedgerTransaction` to be an interface. That way we don't need a setter, we can just create a separate implementation for tests.
* Regarding `db2/history`, we can allow getting raw meta via a method called `GetUnsafeMeta()` or something like this.

Thoughts, @stellar/horizon-committers?

[2021-04-20 14:41] bartekn commented on #3549
Yeah, this is what I suggested in the first comment. So a blocking `GetLedger` can be changed to non-blocking if needed.

[2021-04-20 16:16] ire-and-curses commented on #3552
How do we decide when we've accumulated enough status checks to send a single batch query? There's a tradeoff here between not waiting and batching for performance.

[2021-04-20 16:19] bartekn commented on #3552
Currently we check it on every app tick which is every second, even when there are no pending txs.

[2021-04-20 16:56] 2opremio commented on #3491
Can you elaborate on how you would do this? I think you would end up having to export the setter regardless of whether it's in an interface or a struct.

[2021-04-20 17:32] Shaptic commented on #3348
Going to close this since the only outstanding item is documentation and this is tracked in #3449.

[2021-04-20 17:32] #3348 closed

[2021-04-21 14:52] bartekn opened #3559 "Create replica lag middleware"
TBA